Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

bug fix about pointer
  bootstrap/kubeadm/internal/locking/control_plane_init_mutex.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Steps to build the cluster API
  docs/book/src/architecture/developer-guide.md
Due: none

New plantuml for MachineSet controller with Makefile
  docs/book/src/images/Makefile
  docs/book/src/images/bootstrap-controller.svg
  docs/book/src/images/cluster-admission-machine-controller.png
  docs/book/src/images/cluster-admission-machineset-controller.plantuml
  docs/book/src/images/cluster-admission-machineset-controller.png
  docs/book/src/images/cluster-admission-machineset-controller.svg
Due: none

MachineSet Controller documentation
  docs/book/src/architecture/controllers/machine-set.md
Due: none

updates to vSphere quick start based on upcoming v0.5.2 changes
  docs/book/src/tasks/installation.md
  docs/book/src/user/quick-start.md
Due: none

🏃 Fix capd build
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-provider-docker

Sync up go.mod.
  go.mod
Due: none

Ignore go vendor.
  .gitignore
Due: none

MachineDeployment docs
  docs/book/src/architecture/controllers/machine-deployment.md
  docs/book/src/images/Makefile
  docs/book/src/images/cluster-admission-machinedeployment-controller.plantuml
  docs/book/src/images/cluster-admission-machinedeployment-controller.png
  docs/book/src/images/cluster-admission-machinedeployment-controller.svg
Due: none

Update docs/book/src/architecture/controllers/machine-set.md
  docs/book/src/architecture/controllers/machine-set.md
Due: none

Wait for all descendants when deleting a cluster
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
Due: none

Update CAPD Makefile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/config/default/manager_pull_policy.yaml
  test/infrastructure/docker/docs/release.md
  test/infrastructure/docker/hack/tools/go.mod
  test/infrastructure/docker/hack/tools/go.sum
Due: pull-cluster-api-provider-docker

remove unnecessary cluster!=nil check
  controllers/machine_controller.go
Due: none

fix vSphere quick start installation to use stringData for CAPV manager Secret
  docs/book/src/tasks/installation.md
Due: none

use Kubernetes v1.16.2 in vSphere quick start
  docs/book/src/user/quick-start.md
Due: none

add CAPO to cluster-api book
  docs/book/src/tasks/installation.md
  docs/book/src/user/quick-start.md
Due: none

:running: Remove limits and request from manager definition
  config/manager/manager.yaml
Due: none

fix the quickstart AWS iamInstanceProfile
  docs/book/src/user/quick-start.md
Due: none

:warning: Remove util/restmapper package
  cmd/clusterctl/clientcmd/configutil.go
  docs/book/src/providers/v1alpha2-to-v1alpha3.md
  go.mod
  main.go
  util/restmapper/cached.go
Due: none

Update kubebuilder / k8s testing version to 1.15.5 & fix tests
  cmd/clusterctl/validation/validate_cluster_api_objects_test.go
  controllers/machinedeployment_controller_test.go
  controllers/machineset_controller_test.go
  scripts/fetch_ext_bins.sh
Due: none

use a client reads from cache for controller manager
  main.go
Due: none

:sparkles: MachinePool API (provider agnostic scale types)
  PROJECT
  api/v1alpha3/conversion.go
  api/v1alpha3/machinepool_phase_types.go
  api/v1alpha3/machinepool_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_machinepools.yaml
  config/crd/patches/webhook_in_machinepools.yaml
  config/rbac/role.yaml
  controllers/machinepool_controller.go
  controllers/machinepool_controller_noderef.go
  controllers/machinepool_controller_phases.go
  errors/consts.go
  go.mod
  go.sum
  main.go
  util/util.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

clusterctl-redesign-proposal
  docs/proposals/20191016-clusterctl-redesign.md
  docs/proposals/images/clusterctl-redesign/components.png
  docs/proposals/images/clusterctl-redesign/config.plantuml
  docs/proposals/images/clusterctl-redesign/config.png
  docs/proposals/images/clusterctl-redesign/init.plantuml
  docs/proposals/images/clusterctl-redesign/init.png
Due: none

Adding release-notes to the Makefile
  Makefile
  docs/developer/releasing.md
Due: none

:bug: Fix MachineDeployment Status.Selector not being populated
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machinedeployment_sync.go
Due: none

:running: Simplify Makefile test pre-req
  Makefile
  scripts/ci-test.sh
Due: none

clusterctl only deletes the cluster object
  cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go
  cmd/clusterctl/clusterdeployer/clusterdeployer.go
  cmd/clusterctl/clusterdeployer/clusterdeployer_test.go
Due: none

🏃 Remove some lint exceptions
  Makefile
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/types/v1beta1/utils.go
  cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go
  cmd/clusterctl/validation/validate_pods_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Fix shellcheck verification
  hack/verify-shellcheck.sh
Due: none

Apply labels to Machines if they're part of a MD or MS
  api/v1alpha3/machine_types.go
  controllers/machine_controller.go
  controllers/machine_controller_test.go
Due: none

:running: Bump controllers concurrency to 10
  main.go
Due: none

:running: Update cert manager to v0.11 / v1alpha2
  config/certmanager/cert-manager.yaml
  config/certmanager/certificate.yaml
Due: none

Expose concurrency flag for KubeadmConfig (CABPK) controller
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:running: Fix a bug in certmanager/customizeconfig
  config/certmanager/kustomizeconfig.yaml
Due: none

Don't ship certmanager with CAPI
  Makefile
  config/certmanager/cert-manager.yaml
  hack/tools/certmanager/update.go
Due: none

Set noderef on machines
  test/infrastructure/docker/config/rbac/role.yaml
  test/infrastructure/docker/controllers/dockermachine_controller.go
Due: pull-cluster-api-provider-docker

Apply labels to Machines if they're part of a MD or MS
  api/v1alpha3/machine_types.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
  go.mod
  go.sum
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
