Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

:book: Define proposal guidelines and policies
  CONTRIBUTING.md
  docs/proposals/YYYYMMDD-template.md
Due: none

Add tilt-provider.json to CAPD
  test/infrastructure/docker/.gitignore
  test/infrastructure/docker/tilt-provider.json
Due: pull-cluster-api-provider-docker

Update `clusterctl init --help`
  cmd/clusterctl/cmd/init.go
Due: none

Use controller-runtime v0.7.0-alpha.3
  go.mod
  go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Add node watch to machine
  api/v1alpha3/common_types.go
  controllers/machine_controller.go
  controllers/machine_controller_test.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
Due: none

Modifies DockerMachine condition status
  api/v1alpha3/condition_consts.go
  bootstrap/kubeadm/api/v1alpha3/condition_consts.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Adds healthcheck conditions to machine summary
  controllers/machine_controller.go
  controllers/machine_controller_test.go
Due: none

Windows proposal
  docs/proposals/20200804-windows-support.md
Due: none

rework skipped test
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  cmd/clusterctl/client/cluster/inventory_managementgroup_test.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/internal/test/fake_objects.go
  controllers/cluster_controller_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:book: Update the roadmap for v1alpha4
  docs/book/src/roadmap.md
Due: none

Minor fixes
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none

Delete CAPD machines even if the LB does not exist
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/docker/loadbalancer.go
Due: pull-cluster-api-provider-docker

Add fake KV etcd client
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd/etcd_test.go
  controlplane/kubeadm/internal/etcd/fake/client.go
Due: none

Add support for --namespace flag
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/root.go
Due: none

Add support for --from-config-map, --from-config-map-namespace and --target-namespace flags
  cmd/clusterctl/cmd/completion.go
Due: none

Add support for cluster name of "clusterctl get kubeconfig"
  cmd/clusterctl/cmd/completion.go
Due: none

Add support for --bootstrap, --control-plane, --core and --infrastructure flags
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/config_repositories.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: none

Add support for --watching-namespace flag
  cmd/clusterctl/cmd/completion.go
Due: none

Add support for --kubeconfig-context flag
  cmd/clusterctl/cmd/completion.go
Due: none

🌱 fix digitalocean infrastructure provider name
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: none

Ensure provider deployments are available on init
  cmd/clusterctl/client/cluster/components.go
  cmd/clusterctl/client/cluster/components_test.go
  cmd/clusterctl/client/init_test.go
Due: none

Update required configurations for Metal³ provider
  docs/book/src/user/quick-start.md
Due: none

:seedling: CAPD webhooks should use 9443 as port
  test/infrastructure/docker/config/webhook/manager_webhook_patch.yaml
  test/infrastructure/docker/config/webhook/service.yaml
  test/infrastructure/docker/main.go
Due: pull-cluster-api-provider-docker

📖 remove single quote allows copy / paste to work with zsh
  docs/book/src/user/quick-start.md
Due: none

Log docker error output when we receive a non-zero exit code
  test/infrastructure/docker/docker/util.go
Due: pull-cluster-api-provider-docker

📖 Add CAPDO quickstart in CAPI book
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/developer/tilt.md
  docs/book/src/reference/glossary.md
  docs/book/src/user/quick-start.md
Due: none

Update spot instances proposal with interruptible label setting
  docs/proposals/20200330-spot-instances.md
Due: none

Ensure provider deployments are available on init
  cmd/clusterctl/client/cluster/components.go
  cmd/clusterctl/client/cluster/installer.go
  cmd/clusterctl/client/cluster/installer_test.go
  cmd/clusterctl/client/init_test.go
Due: none

Update Kind to v0.9.0
  docs/book/src/clusterctl/developers.md
  docs/book/src/developer/guide.md
  docs/book/src/developer/testing.md
  docs/book/src/developer/tilt.md
  docs/book/src/user/quick-start.md
  go.mod
  go.sum
  hack/ensure-kind.sh
  scripts/ci-e2e.sh
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

fixes link to proposal root to /docs/proposals/
  docs/proposals/YYYYMMDD-template.md
Due: none

Generates core v1alpha4 types
  Makefile
  PROJECT
  api/v1alpha3/conversion.go
  api/v1alpha3/conversion_test.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/cluster_phase_types.go
  api/v1alpha4/cluster_types.go
  api/v1alpha4/cluster_webhook.go
  api/v1alpha4/cluster_webhook_test.go
  api/v1alpha4/common_types.go
  api/v1alpha4/condition_consts.go
  api/v1alpha4/condition_types.go
  api/v1alpha4/conversion.go
  api/v1alpha4/doc.go
  api/v1alpha4/groupversion_info.go
  api/v1alpha4/machine_phase_types.go
  api/v1alpha4/machine_types.go
  api/v1alpha4/machine_webhook.go
  api/v1alpha4/machine_webhook_test.go
  api/v1alpha4/machinedeployment_types.go
  api/v1alpha4/machinedeployment_webhook.go
  api/v1alpha4/machinedeployment_webhook_test.go
  api/v1alpha4/machinehealthcheck_types.go
  api/v1alpha4/machinehealthcheck_webhook.go
  api/v1alpha4/machinehealthcheck_webhook_test.go
  api/v1alpha4/machineset_types.go
  api/v1alpha4/machineset_webhook.go
  api/v1alpha4/machineset_webhook_test.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/webhook/manifests.yaml
Due: none

Generates CAPD v1alpha4 types
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/PROJECT
  test/infrastructure/docker/api/v1alpha3/doc.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha4/condition_consts.go
  test/infrastructure/docker/api/v1alpha4/doc.go
  test/infrastructure/docker/api/v1alpha4/dockercluster_types.go
  test/infrastructure/docker/api/v1alpha4/dockermachine_types.go
  test/infrastructure/docker/api/v1alpha4/dockermachinetemplate_types.go
  test/infrastructure/docker/api/v1alpha4/dockermachinetemplate_webhook.go
  test/infrastructure/docker/api/v1alpha4/dockermachinetemplate_webhook_test.go
  test/infrastructure/docker/api/v1alpha4/groupversion_info.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/exp.infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/config/webhook/manifests.yaml
  test/infrastructure/docker/exp/PROJECT
  test/infrastructure/docker/exp/api/v1alpha3/doc.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha4/groupversion_info.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-docker

Generates exp v1alpha4 types
  Makefile
  PROJECT
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  config/webhook/manifests.yaml
  exp/PROJECT
  exp/addons/PROJECT
  exp/addons/api/v1alpha3/doc.go
  exp/addons/api/v1alpha3/zz_generated.conversion.go
  exp/addons/api/v1alpha4/clusterresourceset_types.go
  exp/addons/api/v1alpha4/clusterresourceset_webhook.go
  exp/addons/api/v1alpha4/clusterresourceset_webhook_test.go
  exp/addons/api/v1alpha4/clusterresourcesetbinding_types.go
  exp/addons/api/v1alpha4/clusterresourcesetbinding_types_test.go
  exp/addons/api/v1alpha4/condition_consts.go
  exp/addons/api/v1alpha4/doc.go
  exp/addons/api/v1alpha4/groupversion_info.go
  exp/addons/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1alpha3/doc.go
  exp/api/v1alpha3/groupversion_info.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/condition_consts.go
  exp/api/v1alpha4/doc.go
  exp/api/v1alpha4/groupversion_info.go
  exp/api/v1alpha4/machinepool_types.go
  exp/api/v1alpha4/machinepool_webhook.go
  exp/api/v1alpha4/machinepool_webhook_test.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1alpha3/groupversion_info.go
Due: pull-cluster-api-provider-docker

Generates controlplane kubeadm v1alpha4 types
  Makefile
  controlplane/kubeadm/PROJECT
  controlplane/kubeadm/api/v1alpha3/conversion.go
  controlplane/kubeadm/api/v1alpha3/conversion_test.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.conversion.go
  controlplane/kubeadm/api/v1alpha4/condition_consts.go
  controlplane/kubeadm/api/v1alpha4/conversion.go
  controlplane/kubeadm/api/v1alpha4/doc.go
  controlplane/kubeadm/api/v1alpha4/groupversion_info.go
  controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/api/v1alpha4/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/webhook/manifests.yaml
Due: none

Generates bootstrap kubeadm v1alpha4 types
  Makefile
  bootstrap/kubeadm/PROJECT
  bootstrap/kubeadm/api/v1alpha2/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha3/conversion.go
  bootstrap/kubeadm/api/v1alpha3/conversion_test.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha4/condition_consts.go
  bootstrap/kubeadm/api/v1alpha4/conversion.go
  bootstrap/kubeadm/api/v1alpha4/doc.go
  bootstrap/kubeadm/api/v1alpha4/groupversion_info.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmbootstrapconfig_types_test.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfig_webhook.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfiglist_webhook.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfigtemplate_types.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfigtemplate_webhook.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfigtemplatelist_webhook.go
  bootstrap/kubeadm/api/v1alpha4/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/config/webhook/manifests.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
