Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$

:running: Add remote fake client
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  controllers/remote/cluster.go
  controllers/remote/fake/cluster.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Refactor CloneTemplate / propagate clone labels in MS
  controllers/external/util.go
  controllers/external/util_test.go
  controllers/machineset_controller.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
Due: none

first iteration on clusterctl docs
  docs/book/src/SUMMARY.md
  docs/book/src/clusterctl/command-init.md
  docs/book/src/clusterctl/commands/adopt.md
  docs/book/src/clusterctl/commands/commands.md
  docs/book/src/clusterctl/commands/config-cluster.md
  docs/book/src/clusterctl/commands/delete.md
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/clusterctl/commands/move.md
  docs/book/src/clusterctl/commands/upgrade.md
  docs/book/src/clusterctl/configuration.md
  docs/book/src/clusterctl/developers.md
  docs/book/src/clusterctl/overview.md
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/providers/clusterctl.md
Due: none

Handle the control plane ref delete in cluster controller
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
Due: none

Use KubeadmControlPlane in the e2e test
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
  test/framework/control_plane.go
  test/infrastructure/docker/e2e/docker_suite_test.go
  test/infrastructure/docker/e2e/docker_test.go
Due: pull-cluster-api-provider-docker

Remove link to broken REGISTRY env var doc
  docs/book/src/architecture/developer-guide.md
Due: none

Fixing a small documentation typo
  docs/book/src/user/concepts.md
Due: none

clusterctl-fix-docker-provider
  cmd/clusterctl/hack/local-overrides.py
  cmd/clusterctl/pkg/client/config/providers_client.go
Due: none

Fix service port selector
  bootstrap/kubeadm/config/webhook/service.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

create the object graph for move
  cmd/clusterctl/pkg/client/cluster/move.go
  cmd/clusterctl/pkg/client/cluster/move_test.go
  cmd/clusterctl/pkg/internal/scheme/scheme.go
  cmd/clusterctl/pkg/internal/test/fake_objects.go
Due: none

:running: Propagate KCP labels to cloned objects
  api/v1alpha3/machine_types.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
Due: none

:running: Add test for KubeadmConfig conversion
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/conversion_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:running: Update ginkgo/gomega to latest releases
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

:running: Make gomega tests more readable
  api/v1alpha3/cluster_webhook_test.go
  api/v1alpha3/machine_webhook_test.go
  api/v1alpha3/machinedeployment_webhook_test.go
  api/v1alpha3/machineset_webhook_test.go
  controllers/external/util_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
  test/framework/control_plane.go
  test/helpers/components/common.go
  test/helpers/kind/setup.go
  test/helpers/scheme/scheme.go
  util/conversion/conversion_test.go
  util/kubeconfig/kubeconfig_test.go
Due: none

fix doc typo in clusterctl init for --core flag
  cmd/clusterctl/cmd/init.go
Due: none

adding cert-manager prerequisite
  docs/book/src/tasks/installation.md
Due: none

remove $ in tilt doc
  docs/book/src/developer/tilt.md
Due: none

update doc quick start for openstack
  docs/book/src/user/quick-start.md
Due: none

preserve old text and modify to be accurate
  docs/book/src/architecture/controllers/machine.md
Due: none

set clusterctl user-agent
  cmd/clusterctl/pkg/client/cluster/proxy.go
Due: none

Update README to point to 2020 meeting notes.
  README.md
Due: none

:book: Add image builder section
  docs/book/src/tasks/installation.md
Due: none

docs: fix bootstrap provider activity diagram url
  docs/book/src/providers/bootstrap.md
Due: none

remove duplicate errors, and silence usage on error
  cmd/clusterctl/cmd/root.go
Due: none

Add clusterctl label to CAPI components
  config/default/kustomization.yaml
Due: none

implement failure domain picking
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/internal/failureddomain.go
  controlplane/kubeadm/internal/failuredomain_test.go
  test/infrastructure/docker/api/v1alpha3/dockercluster_types.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/e2e/docker_suite_test.go
  test/infrastructure/docker/e2e/docker_test.go
Due: pull-cluster-api-provider-docker

Remove generic labels for metrics services
  bootstrap/kubeadm/config/rbac/auth_proxy_service.yaml
  config/rbac/auth_proxy_service.yaml
  controlplane/kubeadm/config/rbac/auth_proxy_service.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Align metrics service to use same selector as webhook service
  bootstrap/kubeadm/config/rbac/auth_proxy_service.yaml
  config/rbac/auth_proxy_service.yaml
  controlplane/kubeadm/config/rbac/auth_proxy_service.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Stop the reconciliation when the external ref object is pause
  controllers/cluster_controller_phases.go
  controllers/cluster_controller_phases_test.go
  controllers/external/types.go
  controllers/machine_controller.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
Due: none

Improve delete logging
  controllers/cluster_controller.go
Due: none

Document how to verify control-plane is running
  docs/book/src/user/quick-start.md
Due: none

Add ability to configure Tilt mode
  Tiltfile
  docs/book/src/developer/tilt.md
Due: none

Allow disabling leader election in generators
  test/framework/generators/capi.go
  test/framework/generators/capi_test.go
  test/framework/generators/testdata/capi/kustomization.yaml
  test/framework/generators/testdata/capi/manager/kustomization.yaml
  test/framework/generators/testdata/capi/manager/manager.yaml
  test/framework/generators/testdata/capi/manager_auth_proxy_patch.yaml
Due: none

fix the e2e tests
  Makefile
  scripts/ci-capi-e2e.sh
Due: none

fix spelling mistake in readme
  bootstrap/kubeadm/README.md
Due: pull-cluster-api-bootstrap-provider-kubeadm

:book: Reorganize book folder structure
  docs/book/src/SUMMARY.md
  docs/book/src/developer/architecture/controllers.md
  docs/book/src/developer/architecture/controllers/bootstrap.md
  docs/book/src/developer/architecture/controllers/cluster.md
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/architecture/controllers/machine-deployment.md
  docs/book/src/developer/architecture/controllers/machine-set.md
  docs/book/src/developer/architecture/controllers/machine.md
  docs/book/src/developer/guide.md
  docs/book/src/developer/providers/bootstrap.md
  docs/book/src/developer/providers/cluster-infrastructure.md
  docs/book/src/developer/providers/implementers-guide/building_running_and_testing.md
  docs/book/src/developer/providers/implementers-guide/cluster-email.png
  docs/book/src/developer/providers/implementers-guide/configure.md
  docs/book/src/developer/providers/implementers-guide/controllers_and_reconciliation.md
  docs/book/src/developer/providers/implementers-guide/create_api.md
  docs/book/src/developer/providers/implementers-guide/generate_crds.md
  docs/book/src/developer/providers/implementers-guide/naming.md
  docs/book/src/developer/providers/implementers-guide/overview.md
  docs/book/src/developer/providers/implementers.md
  docs/book/src/developer/providers/machine-infrastructure.md
  docs/book/src/developer/providers/v1alpha1-to-v1alpha2.md
  docs/book/src/developer/providers/v1alpha2-to-v1alpha3.md
  docs/book/src/developer/repository-layout.md
Due: none

Fix two go-lint errors
  test/infrastructure/docker/docker/kind_manager.go
Due: pull-cluster-api-provider-docker

e2e config, management cluster helper
  test/framework/config.go
  test/framework/config_constants.go
  test/framework/config_test.go
  test/framework/convenience.go
  test/framework/go.mod
  test/framework/interfaces.go
  test/framework/management_cluster.go
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/e2e/capd_generator.go
  test/infrastructure/docker/e2e/docker_suite_test.go
  test/infrastructure/docker/e2e/e2e.conf
Due: pull-cluster-api-provider-docker

clusterctl add delete command
  cmd/clusterctl/cmd/delete.go
  cmd/clusterctl/pkg/client/client.go
  cmd/clusterctl/pkg/client/client_test.go
  cmd/clusterctl/pkg/client/cluster/client.go
  cmd/clusterctl/pkg/client/cluster/components.go
  cmd/clusterctl/pkg/client/cluster/components_test.go
  cmd/clusterctl/pkg/client/cluster/inventory.go
  cmd/clusterctl/pkg/client/cluster/proxy.go
  cmd/clusterctl/pkg/client/delete.go
  cmd/clusterctl/pkg/client/delete_test.go
  cmd/clusterctl/pkg/internal/test/fake_proxy.go
Due: none

Add initial roadmap draft
  docs/book/src/SUMMARY.md
  docs/book/src/roadmap.md
Due: none
