Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

:seedling: Allow Patch to specify options as well
  util/patch/patch.go
  util/patch/patch_test.go
Due: none

chore: provider packet is now part of kubernetes-sigs
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
  docs/book/src/reference/providers.md
  docs/book/src/user/quick-start.md
Due: none

test framework: Enable metrics collection
  test/e2e/config/docker-ci.yaml
  test/e2e/config/docker-dev.yaml
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/deployment_helpers.go
Due: none

Add an error message if missing substitutions for kustomization w
  Tiltfile
Due: none

Adds tests for InitImages
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/init_test.go
Due: none

Fix references to spec.kubernetesVersion for the Machine object to spec.Version
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/v1beta1/types.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

update to spec.version reference for the Machine object
  bootstrap/kubeadm/types/v1beta1/types.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Removes MachineSet Controller owner for existing Machines
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
  controllers/suite_test.go
  util/util.go
  util/util_test.go
Due: none

Allow incremental condition patch
  util/conditions/patch.go
  util/conditions/patch_test.go
  util/patch/options.go
  util/patch/patch.go
  util/patch/patch_test.go
Due: none

Cluster supports webhooks ClusterRole/RoleBindings
  cmd/clusterctl/client/repository/components.go
  cmd/clusterctl/client/repository/components_test.go
Due: none

Added observedGeneration object in the status
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/machine_controller.go
  controllers/machine_controller_test.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controlplane/kubeadm/controllers/controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Add ObservedGeneration to MachinePool Controller
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  exp/api/v1alpha3/machinepool_types.go
  exp/controllers/machinepool_controller.go
  exp/controllers/machinepool_controller_test.go
Due: none

:seedling: add talos providers to defaults in clusterctl
  cmd/clusterctl/client/config/providers_client.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/repository/metadata_client.go
  cmd/clusterctl/cmd/config_repositories_test.go
Due: none

Fix references to spec.kubernetesVersion for the Machine object to spec.Version
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Modify MachineNeedsRollout logic
  api/v1alpha3/common_types.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/helpers.go
  controlplane/kubeadm/controllers/helpers_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/upgrade.go
  controlplane/kubeadm/controllers/upgrade_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/machinefilters/machine_filters.go
Due: none

Bumped calico version to 3.15
  docs/book/src/user/quick-start.md
Due: none

cleanup machinesNeedingRollout
  controlplane/kubeadm/controllers/helpers.go
  controlplane/kubeadm/internal/machinefilters/machine_filters.go
  controlplane/kubeadm/internal/machinefilters/machine_filters_test.go
Due: none

Fix the field name in cluster-infra-provider diagram
  docs/book/src/images/cluster-infra-provider.plantuml
  docs/book/src/images/cluster-infra-provider.png
Due: none

remove use of master word from our codebase
  bootstrap/kubeadm/main.go
  controllers/machinehealthcheck_targets.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  controlplane/kubeadm/main.go
  docs/book/src/user/concepts.md
  docs/book/src/user/quick-start.md
  main.go
  test/framework/cluster_proxy.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

remove offensive words from the codebase
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/internal/test/fake_objects.go
  cmd/clusterctl/internal/test/providers/bootstrap/generic_types.go
  cmd/clusterctl/internal/test/providers/bootstrap/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/providers/controlplane/generic_types.go
  cmd/clusterctl/internal/test/providers/controlplane/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/providers/infrastructure/generic_types.go
  cmd/clusterctl/internal/test/providers/infrastructure/zz_generated.deepcopy.go
  test/infrastructure/docker/docker/kind_manager.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

fix clusterctl log switch
  cmd/clusterctl/log/log.go
Due: none

cleanup MatchesKubeadmBootstrapConfig and add unit tests
  controlplane/kubeadm/controllers/helpers.go
  controlplane/kubeadm/internal/machinefilters/machine_filters.go
  controlplane/kubeadm/internal/machinefilters/util_test.go
Due: none

:seedling: Remove hash label from KCP machines
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/helpers.go
  controlplane/kubeadm/controllers/helpers_test.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/status.go
  controlplane/kubeadm/internal/cluster_labels.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/machinefilters/machine_filters.go
  controlplane/kubeadm/internal/machinefilters/machine_filters_test.go
Due: none

ClusterResourceSet feature
  Makefile
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/components.go
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  exp/README.md
  exp/addons/PROJECT
  exp/addons/README.md
  exp/addons/api/v1alpha3/clusterresourceset_types.go
  exp/addons/api/v1alpha3/clusterresourceset_webhook.go
  exp/addons/api/v1alpha3/clusterresourceset_webhook_test.go
  exp/addons/api/v1alpha3/clusterresourcesetbinding_types.go
  exp/addons/api/v1alpha3/condition_consts.go
  exp/addons/api/v1alpha3/groupversion_info.go
  exp/addons/api/v1alpha3/zz_generated.deepcopy.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourceset_controller_test.go
  exp/addons/controllers/clusterresourceset_helpers.go
  exp/addons/controllers/clusterresourceset_helpers_test.go
  exp/addons/controllers/suite_test.go
  feature/feature.go
  main.go
  test/e2e/config/docker-ci.yaml
  test/e2e/config/docker-dev.yaml
  test/e2e/data/infrastructure-docker/cluster-template-clusterresourceset.yaml
  test/e2e/experimental_features.go
  test/e2e/experimental_features_test.go
  test/framework/cluster_helpers.go
  test/framework/clusterresourceset_helpers.go
  test/helpers/envtest.go
  util/resource/resource.go
  util/resource/resource_test.go
Due: none

:book: Update CAPZ quickstart variables to include new AZURE_JSON_B64 secret
  docs/book/src/user/quick-start.md
Due: none

Add command `clusterctl get kubeconfig`
  cmd/clusterctl/client/client.go
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/cluster/client.go
  cmd/clusterctl/client/cluster/workload_cluster.go
  cmd/clusterctl/client/get_kubeconfig.go
  cmd/clusterctl/cmd/get.go
  cmd/clusterctl/cmd/get_kubeconfig.go
Due: none

Update documentation
  docs/book/src/clusterctl/developers.md
  docs/book/src/user/quick-start.md
Due: none

move ClusterResourceSets
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/internal/scheme/scheme.go
  cmd/clusterctl/internal/test/fake_objects.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: none

improve implementers guide
  docs/book/src/developer/providers/implementers-guide/generate_crds.md
Due: none

add version table
  README.md
Due: none

improve healthcheck docs
  docs/book/src/tasks/healthcheck.md
Due: none

add a make target to generate test coverage report
  Makefile
Due: none

Remove semantic merge from bootstrap controller
  bootstrap/kubeadm/api/equality/doc.go
  bootstrap/kubeadm/api/equality/semantic.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Promote CecileRobertMichon as maintainer
  OWNERS_ALIASES
Due: none

listDescendents fetch MachinePools
  controllers/cluster_controller.go
Due: none

Provide a way to disable kube-proxy management in KCP via annotations
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

Fix typo in listDescendents MachinePool
  controllers/cluster_controller.go
Due: none

Add node-role: control-plane toleration to capd
  test/infrastructure/docker/config/manager/manager.yaml
Due: pull-cluster-api-provider-docker

Change ClusterResourceSetBinding maps to lists
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/internal/test/fake_objects.go
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  exp/addons/api/v1alpha3/clusterresourcesetbinding_types.go
  exp/addons/api/v1alpha3/clusterresourcesetbinding_types_test.go
  exp/addons/api/v1alpha3/zz_generated.deepcopy.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourceset_controller_test.go
  exp/addons/controllers/clusterresourceset_helpers.go
  exp/addons/controllers/clusterresourceset_helpers_test.go
  test/framework/clusterresourceset_helpers.go
Due: none

Removing lint fast=true target as its failing to lint
  Makefile
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
