Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

Remove 1s full cache resync from envtest, use delegating client everywhere
  exp/controllers/suite_test.go
  main.go
  test/helpers/envtest.go
  util/util.go
Due: none

:seedling: Opt for a more inclusive other category for our emoji
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  VERSIONING.md
  hack/tools/release/notes.go
Due: none

:bug: fix CAPBK conversion bug
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/conversion_test.go
  util/conversion/conversion.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Upgrade test should not report false-negatives while waiting for conditions
  test/framework/pod_helpers.go
Due: none

Update golangci-lint
  .golangci.yml
  cmd/clusterctl/client/cluster/client.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/client/cluster/proxy_test.go
  cmd/clusterctl/client/cluster/template_test.go
  cmd/clusterctl/client/config/reader_viper_test.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_local_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  cmd/clusterctl/cmd/upgrade_plan.go
  cmd/clusterctl/internal/util/yaml.go
  controllers/mdutil/util.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/internal/machine_collection.go
  hack/tools/go.mod
  hack/tools/go.sum
  test/framework/alltypes_helpers.go
  test/framework/clusterctl/clusterctl_config.go
  test/framework/clusterctl/repository.go
  test/framework/deprecated.go
  test/framework/exec/command.go
  test/infrastructure/docker/hack/tools/go.mod
  test/infrastructure/docker/hack/tools/go.sum
Due: pull-cluster-api-provider-docker

Move ToUnstructured function from clusterctl to util
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/inventory.go
  cmd/clusterctl/client/init_test.go
  cmd/clusterctl/client/repository/components.go
  cmd/clusterctl/client/repository/components_client_test.go
  cmd/clusterctl/client/repository/template.go
  cmd/clusterctl/internal/util/yaml.go
  cmd/clusterctl/internal/util/yaml_test.go
  util/yaml/yaml.go
  util/yaml/yaml_test.go
Due: none

KCP regenerates kubeconfigs before client certs expire
  controlplane/kubeadm/controllers/helpers.go
  util/certs/consts.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/kubeconfig_test.go
Due: none

docs: added packet where needed across the cluster-api doc
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/user/quick-start.md
  docs/book/theme/css/general.css
Due: none

Add conditions to the DockerMachine object
  test/infrastructure/docker/api/v1alpha3/condition_consts.go
  test/infrastructure/docker/api/v1alpha3/dockermachine_types.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/docker/machine.go
Due: pull-cluster-api-provider-docker

Fix err wrapping
  controlplane/kubeadm/controllers/helpers.go
  util/kubeconfig/kubeconfig.go
Due: none

Simplify nil check logic
  controlplane/kubeadm/controllers/helpers.go
Due: none

HasOwnerRef -> IsControlledBy
  controlplane/kubeadm/controllers/helpers.go
Due: none

Refactor patch helper to handle observedGeneration and Conditions
  controllers/external/testing.go
  go.mod
  go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
  util/conditions/patch.go
  util/conditions/setter.go
  util/patch/options.go
  util/patch/patch.go
  util/patch/patch_test.go
  util/patch/suite_test.go
  util/patch/utils.go
Due: pull-cluster-api-provider-docker

Add conditions to the DockerCluster object
  test/infrastructure/docker/api/v1alpha3/condition_consts.go
  test/infrastructure/docker/api/v1alpha3/dockercluster_types.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/controllers/dockercluster_controller.go
Due: pull-cluster-api-provider-docker

OwnerMachine lookup fix while upgrade
  util/util.go
  util/util_test.go
Due: none

address comments
  test/infrastructure/docker/api/v1alpha3/condition_consts.go
  test/infrastructure/docker/controllers/dockercluster_controller.go
Due: pull-cluster-api-provider-docker

Integrate shared remote cluster watching into MHC
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/suite_test.go
  main.go
Due: none

🐛 Make MachineSpec Version validation consistent with KCP
  api/v1alpha3/machine_webhook.go
  api/v1alpha3/machine_webhook_test.go
  controllers/machinedeployment_controller_test.go
  controllers/machineset_controller_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  test/e2e/common.go
Due: none

:book: Update quick start about OpenStack
  docs/book/src/user/quick-start.md
Due: none

Adds forNodes that will use all available etcd endpoints - exclude node being removed from nodelist for etcd client
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/proxy/dial.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none

UpdateSecret -> RegenerateSecret
  controlplane/kubeadm/controllers/helpers.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/kubeconfig_test.go
Due: none

add fake client wrapper for setting resource version
  test/helpers/client.go
Due: none

Add conditions to the KubeadmConfig object
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha3/condition_consts.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:seedling: MHC mapper tests shouldn't create new test environments
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets_test.go
Due: none

Add some docs
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/tasks/kubeadm-control-plane.md
Due: none

Update docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/architecture/controllers/control-plane.md
Due: none

Remove pr-integation presubmit files
  Makefile
  scripts/ci-integration.sh
  test/integration/cluster/cluster_test.go
Due: none

Fix to allow multiple test environments
  controllers/cluster_controller_phases_test.go
  controllers/machine_controller_phases_test.go
  exp/controllers/suite_test.go
  test/helpers/envtest.go
Due: none

Refactor condition helpers for Mirror, Summary and Aggregate
  util/conditions/getter.go
  util/conditions/getter_test.go
  util/conditions/merge_test.go
  util/conditions/setter.go
  util/conditions/setter_test.go
Due: none

Add conditions to the Machine object
  api/v1alpha2/conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/condition_consts.go
  api/v1alpha3/machine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controllers/machine_controller.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_test.go
Due: none

:sparkles: Enable kubectl scale on MachinePool
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  exp/api/v1alpha3/machinepool_types.go
Due: none

:seedling: Refactor testenv and remove unused ones
  bootstrap/kubeadm/api/v1alpha2/kubeadmbootstrapconfig_types_test.go
  bootstrap/kubeadm/api/v1alpha2/suite_test.go
  bootstrap/kubeadm/api/v1alpha3/suite_test.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_reconciler_test.go
  bootstrap/kubeadm/controllers/suite_test.go
  bootstrap/kubeadm/internal/locking/control_plane_init_mutex_test.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/remote/cluster_cache_tracker_test.go
  controllers/remote/suite_test.go
  controllers/suite_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types_test.go
  controlplane/kubeadm/api/v1alpha3/suite_test.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/suite_test.go
  exp/controllers/machinepool_controller_phases_test.go
  exp/controllers/suite_test.go
  go.mod
  scripts/ci-test.sh
  test/helpers/envtest.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
  util/patch/suite_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

bump golang version to 1.13.12
  Dockerfile
  Makefile
  Tiltfile
  cmd/example-provider/Dockerfile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Dockerfile.dev
Due: pull-cluster-api-provider-docker

Fix typo for "timeout"
  docs/book/src/tasks/healthcheck.md
Due: none

:seedling: Improve patch helper condition logic
  util/patch/patch.go
  util/patch/utils.go
Due: none

Improve conditions summary
  util/conditions/getter.go
  util/conditions/getter_test.go
  util/conditions/merge_strategies.go
Due: none

Apply new conditions summary func
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  controllers/machine_controller.go
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

fix test/helpers.NewFakeClientWithScheme
  test/helpers/client.go
Due: none

capd: build & push images to staging registry
  cloudbuild.yaml
Due: none

Fix support for dual-stack network ranges
  api/v1alpha3/cluster_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/v1beta1/types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
