Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

Upgrade test should not report false-negatives while waiting for conditions
  test/framework/pod_helpers.go
Due: none

developing e2e tests
  docs/book/src/SUMMARY.md
  docs/book/src/developer/e2e.md
  test/framework/README.md
Due: none

Add CAEP Extensible Template Processing for clusterctl
  docs/proposals/20200511-clusterctl-extensible-template-processing.md
  docs/proposals/images/clusterctl-extensible-templates/pkgCalls.plantuml
  docs/proposals/images/clusterctl-extensible-templates/pkgCalls.png
  docs/proposals/images/clusterctl-extensible-templates/templateClient.plantuml
  docs/proposals/images/clusterctl-extensible-templates/templateClient.png
  docs/proposals/images/clusterctl-extensible-templates/yamlProcessor.plantuml
  docs/proposals/images/clusterctl-extensible-templates/yamlProcessor.png
Due: none

Integrate shared remote cluster watching into MHC
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/suite_test.go
  main.go
Due: none

address comments
  test/infrastructure/docker/api/v1alpha3/condition_consts.go
  test/infrastructure/docker/controllers/dockercluster_controller.go
Due: pull-cluster-api-provider-docker

:hammer_and_pick: update generated CRDs
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/config/webhook/kustomization.yaml
  bootstrap/kubeadm/config/webhook/manifests.yaml
  bootstrap/kubeadm/config/webhook/webhookcainjection_patch.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

[e2e] add e2e target to Makefile
  Makefile
  docs/book/src/developer/testing.md
  test/e2e/config/docker-dev.yaml
Due: none

docs: added packet where needed across the cluster-api doc
  docs/book/src/clusterctl/provider-contract.md
  docs/book/src/user/quick-start.md
  docs/book/theme/css/general.css
Due: none

Update to propose using conditions instead of annotations
  docs/proposals/20191030-machine-health-checking.md
Due: none

:bug: Exclude conversion-data annotation when MD reconciles
  controllers/mdutil/util.go
Due: none

Use GOPROXY environment variable if set when building the docker images
  Makefile
  cmd/example-provider/Dockerfile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Dockerfile.dev
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Fixes WaitForMachineStatusCheck to poll for updates
  test/framework/machine_helpers.go
Due: none

bootstrap: Ignore custom static manifests on join
  bootstrap/kubeadm/internal/cloudinit/kubeadm-bootstrap-script.sh
  bootstrap/kubeadm/internal/cloudinit/zz_generated.bindata.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

e2e-increase-parallelism
  scripts/ci-e2e.sh
Due: none

OwnerMachine lookup fix while upgrade
  util/util.go
  util/util_test.go
Due: none

Add support for -o yaml in `clusterctl config repositories` command
  cmd/clusterctl/client/config/provider.go
  cmd/clusterctl/cmd/config_repositories.go
Due: none

add condition utils
  api/v1alpha2/conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/cluster_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  util/conditions/getter.go
  util/conditions/getter_test.go
  util/conditions/setter.go
  util/conditions/setter_test.go
  util/conditions/unstructured_getter.go
  util/conditions/unstructured_getter_test.go
Due: none

fix-cluster-name-validation
  cmd/clusterctl/client/common.go
  cmd/clusterctl/client/config.go
  cmd/clusterctl/client/config_test.go
Due: none

Support KUBECONFIG env var file paths
  cmd/clusterctl/client/cluster/proxy.go
  cmd/clusterctl/client/cluster/proxy_test.go
Due: none

add condition merge utils
  util/conditions/getter.go
  util/conditions/getter_test.go
  util/conditions/merge.go
  util/conditions/merge_strategies.go
  util/conditions/merge_strategies_test.go
  util/conditions/merge_test.go
  util/conditions/setter.go
Due: none

Add kubeadm control plane manager role aggregation label
  controlplane/kubeadm/config/default/kustomization.yaml
  controlplane/kubeadm/config/default/manager_role_aggregation_patch.yaml
  controlplane/kubeadm/config/rbac/aggregated_role.yaml
  controlplane/kubeadm/config/rbac/kustomization.yaml
Due: none

clusterctl: add CLUSTERCTL_LOG_LEVEL environment variable
  cmd/clusterctl/cmd/root.go
  docs/book/src/clusterctl/configuration.md
Due: none

Refine experiment deprecation policy and graduation criteria
  CONTRIBUTING.md
Due: none

:hammer_and_pick: adjust conversion based on review
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/conversion_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:hammer_and_pick: fix conversion, add validating webhook
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/conversion_test.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types_test.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmconfig_webhook.go
  go.mod
Due: pull-cluster-api-bootstrap-provider-kubeadm

:running: Update controller-runtime to v0.5.3
  go.mod
  go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Document the immutability of machine templates
  docs/book/src/SUMMARY.md
  docs/book/src/tasks/change-machine-template.md
  docs/book/src/tasks/kubeadm-control-plane.md
Due: none

Removes abs path for url providers
  test/framework/clusterctl/e2e_config.go
Due: none

Update kind to v0.7.0 in integration tests
  hack/ensure-kind.sh
  scripts/ci-integration.sh
  test/integration/cluster/cluster_test.go
Due: none

:seedling: Opt for a more inclusive other category for our emoji
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  VERSIONING.md
  hack/tools/release/notes.go
Due: none

:sparkles: implement api, controllers, and webhook
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmconfig_webhook.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

fix error from duplicate bootstrap data secret
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:book: Update quick start about OpenStack
  docs/book/src/user/quick-start.md
Due: none

address comments, fix headings
  CONTRIBUTING.md
Due: none

CAEP: Cluster Resource Set
  docs/proposals/20200220-cluster-resource-set.md
Due: none

Add envtest helper
  test/helpers/envtest.go
  util/kubeconfig/testing.go
Due: none

Add conditions to the DockerCluster object
  test/infrastructure/docker/api/v1alpha3/condition_consts.go
  test/infrastructure/docker/api/v1alpha3/dockercluster_types.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/controllers/dockercluster_controller.go
Due: pull-cluster-api-provider-docker

Update golangci-lint
  .golangci.yml
  cmd/clusterctl/client/cluster/client.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/client/cluster/proxy_test.go
  cmd/clusterctl/client/cluster/template_test.go
  cmd/clusterctl/client/config/reader_viper_test.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_local_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  cmd/clusterctl/cmd/upgrade_plan.go
  cmd/clusterctl/internal/util/yaml.go
  controllers/mdutil/util.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/internal/machine_collection.go
  hack/tools/go.mod
  hack/tools/go.sum
  test/framework/alltypes_helpers.go
  test/framework/clusterctl/clusterctl_config.go
  test/framework/clusterctl/repository.go
  test/framework/deprecated.go
  test/framework/exec/command.go
  test/infrastructure/docker/hack/tools/go.mod
  test/infrastructure/docker/hack/tools/go.sum
Due: pull-cluster-api-provider-docker

:hammer_and_pick: add Go tests
  bootstrap/kubeadm/api/v1alpha2/conversion_test.go
  bootstrap/kubeadm/api/v1alpha2/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types_test.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  go.mod
Due: pull-cluster-api-bootstrap-provider-kubeadm

:book: clarify providerID docs
  docs/book/src/developer/architecture/controllers/machine.md
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
