Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$

test: retry controller-runtime client instantiation
  test/framework/cluster_proxy.go
Due: none

🌱 Refresh BootstrapToken until Nodes join
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/util/configowner.go
  bootstrap/util/configowner_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

update cert-manager to v1.7.2
  cmd/clusterctl/client/config/cert_manager_client.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/developer/guide.md
  docs/book/src/user/quick-start.md
  docs/book/src/user/troubleshooting.md
  scripts/ci-e2e-lib.sh
  test/e2e/config/docker.yaml
Due: none

use different k8s version with each ClusterctlUpgrade test
  test/e2e/clusterctl_upgrade.go
Due: none

fix linting
  bootstrap/util/configowner_test.go
Due: none

allow up to 20 tabs in book
  docs/book/theme/css/custom.css
Due: none

Makefile: re-enable hack/tools on make help
  Makefile
Due: none

test: actually retry controller-runtime client instantiation
  test/framework/cluster_proxy.go
Due: none

Add API types for Runtime SDK ExtensionConfig
  .golangci.yml
  Makefile
  config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  config/manager/manager.yaml
  config/webhook/manifests.yaml
  exp/runtime/api/v1alpha1/doc.go
  exp/runtime/api/v1alpha1/extensionconfig_types.go
  exp/runtime/api/v1alpha1/groupversion_info.go
  exp/runtime/api/v1alpha1/zz_generated.deepcopy.go
  feature/feature.go
  internal/webhooks/runtime/doc.go
  internal/webhooks/runtime/extensionconfig_webhook.go
  internal/webhooks/runtime/extensionconfig_webhook_test.go
  main.go
  test/e2e/config/docker.yaml
Due: none

use WaitForMachinePools to configure machine pool test waits
  test/framework/clusterctl/clusterctl_helpers.go
Due: none

Cluster API State Metrics proposal
  docs/proposals/20220411-cluster-api-state-metrics.md
Due: none

book: fix link to GitHub doc
  .markdownlinkcheck.json
  docs/book/src/clusterctl/provider-contract.md
Due: none

Update promote-images to filter by image and sort by tag
  Makefile
  scripts/go_install.sh
Due: none

Add api types for Runtime SDK ExtensionConfig
  Makefile
  config/rbac/role.yaml
  exp/runtime/controllers/alias.go
  exp/runtime/controllers/doc.go
  exp/runtime/internal/controllers/doc.go
  exp/runtime/internal/controllers/extensionconfig_controller.go
  main.go
Due: none

Replace deprecated strings.Title with cases.Title
  go.mod
  util/record/recorder.go
Due: none

clusterctl: retry github i/o operations
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_github_test.go
Due: none

clusterct: support disable version check
  cmd/clusterctl/cmd/root.go
  docs/book/src/clusterctl/configuration.md
Due: none

add PodSecurityStandard to quickstar topology and book
  docs/book/src/SUMMARY.md
  docs/book/src/security/index.md
  docs/book/src/security/pod-security-standards.md
  docs/book/src/tasks/experimental-features/cluster-class/write-clusterclass.md
  docs/book/src/user/quick-start.md
  test/infrastructure/docker/templates/cluster-template-development-topology.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-provider-docker

Delete old ControlPlane InfrastructureMachineTemplates on successful reconcile
  internal/controllers/topology/cluster/reconcile_state.go
  internal/controllers/topology/cluster/reconcile_state_test.go
Due: none

RuntimeSDK: include ExtensionConfig CRD in generated core manifest
  config/crd/kustomization.yaml
Due: none

fixup test nits (#34)
  exp/runtime/controllers/alias.go
  internal/runtime/server/handler_builder_test.go
  internal/test/envtest/environment.go
  main.go
  poc/archive/kube-openapi/definitions/main.go
  poc/archive/kube-openapi/specification/main.go
  poc/archive/kube-openapi/specification/svc.go
  poc/test/rte-call-webhookregistration/main.go
  poc/test/rte-implementation-v1alpha1/main.go
Due: none

fix boilerplate detection for openapi and other files (#35)
  exp/runtime/internal/controllers/extensionconfig_controller_test.go
  exp/runtime/internal/controllers/suite_test.go
  hack/boilerplate/boilerplate.py
  hack/tools/runtime-openapi-gen/main.go
  internal/runtime/registry/registry_test.go
  poc/test/rte-call-simple/main.go
  poc/test/rte-implementation-v1alpha1-secure/main.go
  poc/test/rte-implementation-v1alpha2/main.go
Due: none

api/v1beta1/zz_generated.openapi.go (#36)
  api/v1beta1/zz_generated.openapi.go
Due: none

capd: Add docker mount to worker nodes
  test/infrastructure/docker/templates/cluster-template-development.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-provider-docker

openapi-gen use upstream binary (#37)
  Makefile
  api/v1beta1/zz_generated.openapi.go
  exp/runtime/hooks/api/v1alpha1/zz_generated.openapi.go
  exp/runtime/hooks/api/v1alpha2/zz_generated.openapi.go
  exp/runtime/hooks/api/v1alpha3/zz_generated.openapi.go
  hack/boilerplate/boilerplate.py
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/openapi-gen/main.go
  hack/tools/runtime-openapi-gen/main.go
  hack/tools/runtime-openapi-gen/vendored_openapi.go
  internal/runtime/catalog/builder.go
  internal/runtime/catalog/catalog.go
  internal/runtime/catalog/openapi.go
Due: none

book: Add note about Tiltfile syntax highlighting
  docs/book/src/developer/tilt.md
Due: none

add ipam integration proposal
  docs/proposals/20220125-ipam-integration.md
  docs/proposals/images/ipam-integration/consumption.png
  docs/proposals/images/ipam-integration/sequence.png
  docs/proposals/images/ipam-integration/sequence.txt
Due: none

RuntimeSDK: add registry
  internal/runtime/catalog/catalog.go
  internal/runtime/registry/doc.go
  internal/runtime/registry/registry.go
  internal/runtime/registry/registry_test.go
Due: none

defaulting and validation for ExtensionConfig (#38)
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass_test.go
  internal/webhooks/runtime/extensionconfig_webhook.go
  internal/webhooks/runtime/extensionconfig_webhook_test.go
  internal/webhooks/util/util.go
Due: none

bootstrap/kubeadm/api/v1beta1: reject gzip file encoding with Ignition
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

bootstrap/kubeadm/internal/ignition/clc: fix parallel tests
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

bootstrap/kubeadm/internal/ignition/clc: add test for file rendering
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

bootstrap/kubeadm/internal/ignition/clc: support base64 content encoding
  bootstrap/kubeadm/internal/ignition/clc/clc.go
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

capd: Add containerd socket to worker nodes
  test/infrastructure/docker/templates/cluster-template-development.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-provider-docker

:bug: Fix cluster reconcilation predicates
  internal/controllers/machine/machine_controller.go
  util/predicates/cluster_predicates.go
  util/predicates/cluster_predicates_test.go
Due: none
