Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

accept options in remote.NewClusterCacheTracker
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/remote/cluster_cache_tracker_test.go
  controllers/suite_test.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/main.go
  exp/addons/controllers/suite_test.go
  main.go
Due: none

Introduce const for CertManagerImageComponent
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/config/imagemeta_client.go
  cmd/clusterctl/client/config/imagemeta_client_test.go
Due: none

Collect bootstrap cluster logs in E2E test
  test/e2e/e2e_suite_test.go
  test/framework/cluster_proxy.go
Due: none

Fix for Linux security update https://github.com/torvalds/linux/commit/671c54ea8c7ff47bd88444f3fffb65bf9799ce43
  test/infrastructure/docker/cloudinit/writefiles.go
Due: pull-cluster-api-provider-docker

Add dependabot configuration
  .github/dependabot.yml
Due: none

Remove kube-rbac-proxy from cluster-api
  bootstrap/kubeadm/config/default/kustomization.yaml
  bootstrap/kubeadm/config/default/manager_auth_proxy_patch.yaml
  bootstrap/kubeadm/config/manager/manager.yaml
  bootstrap/kubeadm/config/rbac/auth_proxy_role.yaml
  bootstrap/kubeadm/config/rbac/auth_proxy_role_binding.yaml
  bootstrap/kubeadm/config/rbac/auth_proxy_service.yaml
  bootstrap/kubeadm/config/rbac/kustomization.yaml
  bootstrap/kubeadm/main.go
  cmd/clusterctl/client/init_test.go
  cmd/clusterctl/internal/util/objs_test.go
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  controlplane/kubeadm/config/default/kustomization.yaml
  controlplane/kubeadm/config/default/manager_auth_proxy_patch.yaml
  controlplane/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/config/rbac/auth_proxy_role.yaml
  controlplane/kubeadm/config/rbac/auth_proxy_role_binding.yaml
  controlplane/kubeadm/config/rbac/auth_proxy_service.yaml
  controlplane/kubeadm/config/rbac/kustomization.yaml
  controlplane/kubeadm/main.go
  docs/book/src/developer/providers/implementers-guide/configure.md
  docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md
  docs/book/src/reference/ports.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  main.go
  test/e2e/config/docker.yaml
  test/framework/deployment_helpers.go
  test/infrastructure/docker/config/default/kustomization.yaml
  test/infrastructure/docker/config/default/manager_auth_proxy_patch.yaml
  test/infrastructure/docker/config/manager/manager.yaml
  test/infrastructure/docker/config/rbac/auth_proxy_role.yaml
  test/infrastructure/docker/config/rbac/auth_proxy_role_binding.yaml
  test/infrastructure/docker/config/rbac/auth_proxy_service.yaml
  test/infrastructure/docker/config/rbac/kustomization.yaml
  test/infrastructure/docker/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Introduce const for ClusterctlCoreLabel inventory value
  cmd/clusterctl/api/v1alpha3/labels.go
  cmd/clusterctl/client/cluster/inventory.go
  cmd/clusterctl/client/cluster/upgrader_info_test.go
  cmd/clusterctl/client/repository/components.go
  cmd/clusterctl/client/upgrade_test.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: none

:seedling: Add dependabot prefix to commits and PRs
  .github/dependabot.yml
Due: none

Bump github.com/coredns/corefile-migration from 1.0.11 to 1.0.12
  go.mod
  go.sum
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

dependabot: Disable automatic PRs for gomod
  .github/dependabot.yml
Due: none

decouple control plane status check logic for customization
  test/framework/clusterctl/clusterctl_helpers.go
Due: none

Set the UserAgent in controllers
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Align v1beta3 types to latest changes in Kubernetes
  bootstrap/kubeadm/api/v1alpha4/kubeadm_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/v1beta3/conversion.go
  bootstrap/kubeadm/types/v1beta3/conversion_test.go
  bootstrap/kubeadm/types/v1beta3/types.go
  bootstrap/kubeadm/types/v1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/v1beta3/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

:warning: Update Controller Runtime to v0.9.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Due: none

ClusterResourceSet: use generic predicates for secrets
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourceset_controller_test.go
  exp/addons/controllers/predicates/resource_predicates.go
Due: none

use unstructured library to extract data from Secret/ConfigMap
  exp/addons/controllers/clusterresourceset_controller.go
Due: none

more tracing
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourceset_controller_test.go
Due: none

Increase timeout
  exp/addons/controllers/clusterresourceset_controller_test.go
Due: none

kubetest: Remove usage of Viper, converting config files to kubetest arguments
  test/framework/kubetest/run.go
Due: none

Update controller-tools to v0.6.0
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

Update generated files
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_metadata.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_providers.yaml
  cmd/clusterctl/config/manifest/clusterctl-api.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  test/infrastructure/docker/config/crd/bases/exp.infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

:book: Add replace instructions to v1alpha4 provider doc
  docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md
Due: none

Make envtest to accept list of objects to be read from live client
  exp/addons/controllers/clusterresourceset_controller_test.go
  exp/addons/controllers/suite_test.go
  internal/envtest/environment.go
Due: none

Invoke ginkgo in kubetest through entrypoint
  test/framework/kubetest/run.go
Due: none

prefix user agent with "cluster-api-"
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

🌱 Update controller-tools to v0.6.0 (#4764)
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_metadata.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_providers.yaml
  cmd/clusterctl/config/manifest/clusterctl-api.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  hack/tools/go.mod
  hack/tools/go.sum
  test/infrastructure/docker/config/crd/bases/exp.infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Update dependencies
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.sum
Due: none

Add --raw flag for clusterctl generate provider subcommand
  cmd/clusterctl/client/config.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/client/repository/components.go
  cmd/clusterctl/client/repository/components_client_test.go
  cmd/clusterctl/cmd/config_provider.go
  cmd/clusterctl/cmd/generate_provider.go
Due: none

Use ClientUncachedObjects name consistently
  controllers/remote/cluster_cache.go
Due: none

go.mod: Add comment about etcd versioning
  go.mod
Due: none

Move registering field indexes to the noderefutil package
  api/v1alpha4/common_types.go
  controllers/machine_controller.go
  controllers/machine_controller_test.go
  controllers/machinehealthcheck_controller.go
  controllers/noderefutil/indexer.go
  controllers/noderefutil/indexer_test.go
  controllers/noderefutil/machine.go
  controllers/suite_test.go
  exp/addons/controllers/suite_test.go
  exp/controllers/suite_test.go
  main.go
Due: none

Make clusterctl support for cert-manager more flexible
  cmd/clusterctl/api/v1alpha3/annotations.go
  cmd/clusterctl/api/v1alpha3/labels.go
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/cluster/assets/cert-manager.yaml
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/client/cluster/client.go
  cmd/clusterctl/client/config/cert_manager.go
  cmd/clusterctl/client/config/cert_manager_client.go
  cmd/clusterctl/client/config/cert_manager_client_test.go
  cmd/clusterctl/client/config/client.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/client/repository/components_client.go
  cmd/clusterctl/client/upgrade.go
  cmd/clusterctl/cmd/upgrade_plan.go
  cmd/clusterctl/internal/test/fake_reader.go
  docs/book/src/clusterctl/commands/init.md
  docs/book/src/clusterctl/configuration.md
Due: none

:book: Update our README for more friendliness 🤗
  README.md
Due: none

update instructions for rbac-proxy removal
  docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md
Due: none

add build arg to override builder image
  Dockerfile
  Makefile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

🐛 unmarshal data to a pointer when parsing kubetest config
  test/framework/kubetest/run.go
Due: none

:bug: Makefile should reference the correct Go version var
  Makefile
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
