Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

MachineHealthCheck remediation e2e test fix
  test/framework/machinehealthcheck_helpers.go
Due: none

Remove deprecated ioutil usage
  cmd/clusterctl/client/cluster/proxy_test.go
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/cluster/template_test.go
  cmd/clusterctl/client/config.go
  cmd/clusterctl/client/config/reader_viper_test.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/repository/overrides.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_local.go
  cmd/clusterctl/client/repository/repository_local_test.go
  cmd/clusterctl/cmd/config_repositories_test.go
  cmd/clusterctl/cmd/generate_yaml_test.go
  cmd/clusterctl/cmd/version_checker.go
  cmd/clusterctl/cmd/version_checker_test.go
  hack/tools/mdbook/embed/embed.go
  hack/tools/mdbook/releaselink/releaselink.go
  netlify.toml
  test/framework/alltypes_helpers.go
  test/framework/bootstrap/kind_provider.go
  test/framework/bootstrap/kind_util.go
  test/framework/cluster_proxy.go
  test/framework/clusterctl/clusterctl_config.go
  test/framework/clusterctl/clusterctl_helpers.go
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterctl/repository.go
  test/framework/deployment_helpers.go
  test/framework/docker_logcollector.go
  test/framework/exec/command.go
  test/framework/kubernetesversions/template.go
  test/framework/kubernetesversions/versions.go
  test/framework/kubetest/run.go
  test/helpers/envtest.go
  test/infrastructure/docker/docker/machine.go
  util/yaml/yaml_test.go
Due: pull-cluster-api-provider-docker

make manifest to use cert-manager.io/v1alpha2
  bootstrap/kubeadm/config/certmanager/certificate.yaml
  bootstrap/kubeadm/config/webhook/kustomization.yaml
  config/certmanager/certificate.yaml
  config/webhook/kustomization.yaml
  controlplane/kubeadm/config/certmanager/certificate.yaml
  controlplane/kubeadm/config/webhook/kustomization.yaml
  test/infrastructure/docker/config/certmanager/certificate.yaml
  test/infrastructure/docker/config/webhook/kustomization.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Remove CAPD hack/tools directory
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/hack/tools/go.mod
  test/infrastructure/docker/hack/tools/go.sum
  test/infrastructure/docker/hack/tools/tools.go
Due: pull-cluster-api-provider-docker

fix shellcheck errors
  scripts/ci-e2e-lib.sh
Due: none

Run ensure-kustomize in CAPD
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Wait for all the machine to exist again after remediation
  test/framework/machinehealthcheck_helpers.go
Due: none

Add missing PROD_REGISTRY to makefile
  exp/operator/Makefile
Due: none

generate junit report in ci-test.sh
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  scripts/ci-test.sh
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

🌱 [capd] Ensure Loadbalancer IP is not empty
  test/infrastructure/docker/docker/loadbalancer.go
Due: pull-cluster-api-provider-docker

Add CAPI book section on `clusterctl alpha rollout`
  docs/book/src/clusterctl/commands/alpha-rollout.md
  docs/book/src/clusterctl/commands/commands.md
  docs/book/src/clusterctl/overview.md
Due: none

Cleanup recent work with `clusterctl alpha rollout` command. * Switched from use of tuple to object refs * Now using global context * Moved MD specific code to a separate file.
  cmd/clusterctl/client/alpha/client.go
  cmd/clusterctl/client/alpha/machinedeployment.go
  cmd/clusterctl/client/alpha/rollout.go
  cmd/clusterctl/client/alpha/rollout_pauser.go
  cmd/clusterctl/client/alpha/rollout_pauser_test.go
  cmd/clusterctl/client/alpha/rollout_restarter.go
  cmd/clusterctl/client/alpha/rollout_restarter_test.go
  cmd/clusterctl/client/alpha/rollout_resumer.go
  cmd/clusterctl/client/alpha/rollout_resumer_test.go
  cmd/clusterctl/client/alpha/rollout_rollbacker.go
  cmd/clusterctl/client/alpha/rollout_rollbacker_test.go
  cmd/clusterctl/client/rollout.go
  cmd/clusterctl/internal/util/obj_refs.go
  cmd/clusterctl/internal/util/obj_refs_test.go
Due: none

Minor Makefile cleanup
  Makefile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

add a warning message that KubeadmControlPlane is solely supporting CoreDNS as a DNS server
  docs/book/src/tasks/kubeadm-control-plane.md
Due: none

gather more Docker and containerd logs in ci-e2e.sh
  scripts/ci-e2e.sh
Due: none

kcp: include node list error in KCP and control plane machine conditions
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
Due: none

Fix typo
  Dockerfile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Dockerfile.dev
Due: pull-cluster-api-provider-docker

Remove duplicate upgrade word
  cmd/clusterctl/cmd/upgrade_plan.go
Due: none

capd: inspect container when container bootstrap fails
  test/infrastructure/docker/docker/machine.go
Due: pull-cluster-api-provider-docker

add docker log
  test/infrastructure/docker/docker/machine.go
Due: pull-cluster-api-provider-docker

run tests 20x, use kindest verbose image
  scripts/ci-e2e.sh
  test/infrastructure/docker/docker/machine.go
Due: pull-cluster-api-provider-docker

small cleanup
  cmd/clusterctl/client/cluster/mover.go
Due: none

upgrade kind to 0.10.0
  hack/ensure-kind.sh
Due: none

Use docker API to list containers instead of exec
  test/infrastructure/docker/docker/util.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Use docker API to preload images instead of exec
  test/infrastructure/docker/docker/machine.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Use docker API to update containers instead of exec
  test/infrastructure/docker/docker/types/node.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Use docker API to create containers instead of exec
  test/infrastructure/docker/docker/kind_manager.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Use docker API to get network info instead of exec
  test/infrastructure/docker/docker/kind_manager.go
Due: pull-cluster-api-provider-docker

Use docker API to get ns remap info instead of exec
  test/infrastructure/docker/docker/kind_manager.go
Due: pull-cluster-api-provider-docker

Clean up docker operations
  test/infrastructure/docker/docker/kind_manager.go
  test/infrastructure/docker/docker/loadbalancer.go
  test/infrastructure/docker/docker/machine.go
  test/infrastructure/docker/docker/types/node.go
  test/infrastructure/docker/docker/util.go
Due: pull-cluster-api-provider-docker

Clean up output handling for docker exec calls
  test/infrastructure/docker/docker/types/node.go
Due: pull-cluster-api-provider-docker

Set the UserAgent in controllers
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Add envtest binaries to operator makefile
  exp/operator/Makefile
Due: none

capd: print debug infos when container bootstrap fails
  test/infrastructure/docker/docker/machine.go
Due: pull-cluster-api-provider-docker

cluster/mover: improve messages when patching the cluster
  cmd/clusterctl/client/cluster/mover.go
Due: none

Plumb context through node creation calls
  test/infrastructure/docker/docker/kind_manager.go
  test/infrastructure/docker/docker/loadbalancer.go
  test/infrastructure/docker/docker/machine.go
  test/infrastructure/docker/docker/util.go
Due: pull-cluster-api-provider-docker

Add reviewers for CAPI operator
  OWNERS
  OWNERS_ALIASES
  exp/operator/OWNERS
Due: none

Update certmanager to v1
  exp/operator/config/certmanager/certificate.yaml
  exp/operator/config/certmanager/kustomization.yaml
  exp/operator/config/certmanager/kustomizeconfig.yaml
Due: none

Remove unnecessary boilerplate in operator
  exp/operator/hack/boilerplate.go.txt
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
