Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$

renamed machinehealthcheck_status_matcher to test
  controllers/machinehealthcheck_status_matcher_test.go
Due: none

Update Go to 1.15.3
  Dockerfile
  Makefile
  Tiltfile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Dockerfile.dev
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Add etcd quorum check to KCP
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd/etcd_test.go
  controlplane/kubeadm/internal/etcd/fake/client.go
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none

Refactor controlplane health check in KCP
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/upgrade_test.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/machine_collection.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

upgrade corefile migration to v1.0.11
  go.mod
  go.sum
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Address feedback
  Tiltfile
  test/infrastructure/kubemark/Dockerfile
  test/infrastructure/kubemark/Makefile
  test/infrastructure/kubemark/PROJECT
  test/infrastructure/kubemark/api/v1alpha4/condition_consts.go
  test/infrastructure/kubemark/api/v1alpha4/groupversion_info.go
  test/infrastructure/kubemark/api/v1alpha4/kubemarkmachine_types.go
  test/infrastructure/kubemark/api/v1alpha4/kubemarkmachinetemplate_types.go
  test/infrastructure/kubemark/api/v1alpha4/zz_generated.deepcopy.go
  test/infrastructure/kubemark/common.mk
  test/infrastructure/kubemark/config/crd/bases/infrastructure.cluster.x-k8s.io_kubemarkmachines.yaml
  test/infrastructure/kubemark/config/crd/bases/infrastructure.cluster.x-k8s.io_kubemarkmachinetemplates.yaml
  test/infrastructure/kubemark/config/crd/kustomization.yaml
  test/infrastructure/kubemark/config/crd/patches/cainjection_in_kubemarkmachinetemplates.yaml
  test/infrastructure/kubemark/config/infrastructure.cluster.x-k8s.io_kubemarkmachines.yaml
  test/infrastructure/kubemark/config/infrastructure.cluster.x-k8s.io_kubemarkmachinetemplates.yaml
  test/infrastructure/kubemark/config/manager/manager_image_patch.yaml
  test/infrastructure/kubemark/config/rbac/leader_election_role.yaml
  test/infrastructure/kubemark/config/rbac/role.yaml
  test/infrastructure/kubemark/config/samples/infrastructure_v1alpha3_kubemarkmachine.yaml
  test/infrastructure/kubemark/config/samples/infrastructure_v1alpha3_kubemarkmachinetemplate.yaml
  test/infrastructure/kubemark/controllers/copy_pasta.go
  test/infrastructure/kubemark/controllers/kubemarkmachine_controller.go
  test/infrastructure/kubemark/go.sum
  test/infrastructure/kubemark/hack/fetch_bins.sh
  test/infrastructure/kubemark/hack/tools/go.mod
  test/infrastructure/kubemark/hack/tools/go.sum
  test/infrastructure/kubemark/hack/tools/publish-kubemark-images.go
  test/infrastructure/kubemark/hack/tools/tools.go
  test/infrastructure/kubemark/hack/update-gofmt.sh
  test/infrastructure/kubemark/hack/update-goimports.sh
  test/infrastructure/kubemark/hack/verify-all.sh
  test/infrastructure/kubemark/hack/verify-build.sh
  test/infrastructure/kubemark/hack/verify-gotest.sh
  test/infrastructure/kubemark/hack/version.sh
  test/infrastructure/kubemark/main.go
  test/infrastructure/kubemark/metadata.yaml
  test/infrastructure/kubemark/templates/cluster-template-capd.yaml
  test/infrastructure/kubemark/templates/cluster-template.yaml
  test/infrastructure/kubemark/tilt-provider.json
Due: none

Add conditions matchers for use in testing
  util/conditions/matcher.go
  util/conditions/matcher_test.go
Due: none

Add remediationsAllowed field to the MHC status
  api/v1alpha3/condition_consts.go
  api/v1alpha3/machinehealthcheck_types.go
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_status_matcher.go
Due: none

KCP health checks handle consistently errors and check failures
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

E2E framework resolves CNI_RESOURCES without using env vars
  test/e2e/e2e_suite_test.go
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterctl/repository.go
Due: none

Forward-port modifies DockerMachine condition status to report for control plane to be ready
  api/v1alpha4/condition_consts.go
  bootstrap/kubeadm/api/v1alpha4/condition_consts.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Add Node related condition to Machine conditions
  api/v1alpha3/condition_consts.go
  controllers/machine_controller.go
  controllers/machine_controller_noderef.go
  controllers/machine_controller_noderef_test.go
  controllers/machine_controller_phases_test.go
  controllers/machine_controller_test.go
  controllers/remote/cluster_cache.go
Due: none

Print provider type and name to match config file naming
  cmd/clusterctl/client/repository/components_client.go
  cmd/clusterctl/client/repository/metadata_client.go
  cmd/clusterctl/client/repository/template_client.go
Due: none

Avoid MachineHealtchCheck to return early on patch errors
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/remote/cluster_cache.go
Due: none

Add reverse fuzz test
  util/conversion/conversion.go
Due: none

KCP should update conditions when reconcileHealth is failing
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/scale.go
Due: none

:seedling: Avoid draining when KCP object is being deleted
  controllers/machine_controller.go
  controllers/machine_controller_test.go
Due: none

forward-port MHC external remediation
  api/v1alpha3/condition_consts.go
  api/v1alpha3/machinehealthcheck_types.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha3/zz_generated.deepcopy.go
  api/v1alpha4/condition_consts.go
  api/v1alpha4/machinehealthcheck_types.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  controllers/external/testing.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  test/helpers/envtest.go
Due: none

refactor kcp healthcheck
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/upgrade_test.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/machine_collection.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

Reworks test to add cleanup for each subtest
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: none

fix typo
  cmd/clusterctl/client/repository/client_test.go
Due: none

Add Node related condition to Machine conditions
  api/v1alpha3/condition_consts.go
  api/v1alpha4/condition_consts.go
  controllers/machine_controller.go
  controllers/machine_controller_noderef.go
  controllers/machine_controller_noderef_test.go
  controllers/machine_controller_phases_test.go
  controllers/machine_controller_test.go
  controllers/remote/cluster_cache.go
Due: none

Update controller-runtime to v0.7.0-alpha.5
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/client/cluster/inventory.go
  controllers/machine_controller_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  controlplane/kubeadm/internal/workload_cluster_rbac.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/controllers/machinepool_controller_test.go
  go.mod
  go.sum
  test/framework/deployment_helpers.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
  util/patch/patch.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Add Makefile target for docker build pre-requisites
  Makefile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

:bug: Fix Makefile docker targets by prepulling required images
  Makefile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

:sparkles: Add GetLiveClient() to ClusterCacheTracker
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_reconciler_test.go
Due: none

Modify fuzzy test function to accept a precomparison hook for handling deprecated fields
  api/v1alpha2/conversion.go
  api/v1alpha2/conversion_test.go
  util/conversion/conversion.go
Due: none

Remove leading colon between --infrastructure flag and provider
  docs/book/src/clusterctl/commands/config-cluster.md
Due: none

:warning: Use metadata watch for CRDs when converting references
  go.mod
  go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
  util/conversion/conversion.go
  util/util.go
Due: pull-cluster-api-provider-docker

:seedling: CRS now uses metadata-only watches for Secret and ConfigMaps
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourceset_helpers.go
  exp/addons/controllers/clusterresourceset_helpers_test.go
  exp/addons/controllers/suite_test.go
  go.mod
  go.sum
  main.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Add CAPI kubetest2 deployer
  test/kubetest2-capi/OWNERS
  test/kubetest2-capi/README.md
  test/kubetest2-capi/deployer/deployer.go
  test/kubetest2-capi/go.mod
  test/kubetest2-capi/go.sum
  test/kubetest2-capi/main.go
Due: none

Remove hard code manifest version and hash
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/client/cluster/client.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/client/upgrade.go
Due: none

Add KCP conditions, split reconcileHealth into preflight and reconcileEtcdMembers, make both use conditions
  controlplane/kubeadm/api/v1alpha3/condition_consts.go
  controlplane/kubeadm/controllers/consts.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/upgrade_test.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd/util/set.go
  controlplane/kubeadm/internal/etcd/util/util.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_conditions.go
  controlplane/kubeadm/internal/workload_cluster_conditions_test.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

IsNotFound to check cause of delete node error because it's wrapped
  controllers/machine_controller.go
Due: none

Backport of high cpu usage during kubectl drain
  third_party/kubernetes-drain/drain.go
Due: none

KCP remediates unhealthy machines
  api/v1alpha3/condition_consts.go
  controllers/machine_controller.go
  controllers/machinehealthcheck_controller.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/remediation.go
  controlplane/kubeadm/controllers/remediation_test.go
  controlplane/kubeadm/controllers/suite_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/machinefilters/machine_filters.go
  controlplane/kubeadm/internal/machinefilters/machine_filters_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none
