Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

clusterctl: log which value clusterctl mover is setting when pausing
  cmd/clusterctl/client/cluster/mover.go
Due: none

typos: fix some typos
  VERSIONING.md
  cmd/clusterctl/test/README.md
  docs/book/src/clusterctl/commands/config-cluster.md
  docs/book/src/developer/providers/implementers-guide/configure.md
  docs/book/src/developer/providers/implementers-guide/controllers_and_reconciliation.md
  docs/book/src/developer/providers/implementers-guide/generate_crds.md
  docs/book/src/developer/providers/v1alpha2-to-v1alpha3.md
  docs/proposals/20181121-machine-api.md
  docs/proposals/20190709-cluster-spec-crds.md
  docs/proposals/20191030-machine-health-checking.md
  docs/proposals/images/controlplane/controlplane-init-2.plantuml
  docs/proposals/images/controlplane/controlplane-init-2.png
  docs/proposals/images/controlplane/controlplane-init-3.plantuml
  docs/proposals/images/controlplane/controlplane-init-3.png
  docs/proposals/images/controlplane/controlplane-init-6.plantuml
  docs/proposals/images/controlplane/controlplane-init-6.png
  docs/proposals/images/controlplane/controlplane-init-7.plantuml
  docs/proposals/images/controlplane/controlplane-init-7.png
Due: none

test/tests: standardize gomega imports
  test/framework/types_test.go
  test/infrastructure/docker/cloudinit/kindadapter_test.go
  test/infrastructure/docker/cloudinit/runcmd_test.go
  test/infrastructure/docker/cloudinit/unknown_test.go
  test/infrastructure/docker/cloudinit/writefiles_test.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
Due: pull-cluster-api-provider-docker

util/tests: standardize gomega imports
  util/kubeconfig/kubeconfig_test.go
  util/secret/certificates_test.go
  util/util_test.go
  util/yaml/yaml_test.go
Due: none

clusterctl: log which value clusterctl mover is setting when pausing (add key)
  cmd/clusterctl/client/cluster/mover.go
Due: none

:book: show Azure tab in Tilt docs
  docs/book/src/developer/tilt.md
Due: none

Adds moby client
  cmd/clusterctl/test/e2e/go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
  test/infrastructure/docker/internal/containers/container_client.go
  test/infrastructure/docker/internal/containers/moby/client.go
  test/infrastructure/docker/internal/containers/moby/client_test.go
Due: pull-cluster-api-provider-docker

wip: pointer-ize bootstrap types
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/v1beta1/types.go
  bootstrap/kubeadm/types/v1beta1/zz_generated.deepcopy.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  go.mod
Due: pull-cluster-api-bootstrap-provider-kubeadm

🏃 mark defaulted fields as optional
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/v1beta1/types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

controlplane: Normalise image name for kube-proxy
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  util/util.go
  util/util_test.go
Due: none

kcp: Add additional validation of versioning
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  test/infrastructure/docker/e2e/docker_test.go
Due: pull-cluster-api-provider-docker

Add semver version validation rules to Machine type
  api/v1alpha3/machine_webhook.go
  api/v1alpha3/machine_webhook_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
Due: none

Use overridesFolder config to configure overrides
  cmd/clusterctl/client/config/variables_client_test.go
  cmd/clusterctl/client/repository/client.go
  cmd/clusterctl/client/repository/components_client.go
  cmd/clusterctl/client/repository/metadata_client.go
  cmd/clusterctl/client/repository/metadata_client_test.go
  cmd/clusterctl/client/repository/overrides.go
  cmd/clusterctl/client/repository/overrides_test.go
  cmd/clusterctl/client/repository/template_client.go
  cmd/clusterctl/test/run-e2e.sh
  docs/book/src/clusterctl/configuration.md
  docs/book/src/clusterctl/developers.md
Due: none

:sparkles: Move etcd leadership to newest Machine
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
  controlplane/kubeadm/internal/machine_collection.go
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

Change the number of expected etcd members
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/etcd/fake/client.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

:bug: CoreDNS validation should only look at major.minor.patch
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  util/util.go
  util/util_test.go
Due: none

:bug: KCP spec.clusterConfiguration.imageRepository should not have coredns/
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: none

:bug: forward leadership by talking to new leader
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

:bug: leadership forwarding for removed members
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

:running: Add log line when reconciling KubeadmControlPlane
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
Due: none

Add Makefile targets for clusterctl unit test
  Makefile
Due: none

Proposal for KCP scale-in
  docs/enhacements/20200316-KCP-scale-in.md
Due: none

Fix the links in the quickstart
  docs/book/src/user/quick-start.md
Due: none

Disable link checker in book
  Makefile
Due: none

Validates CoreDNS version update - Skips validation if ClusterConfiguration undefined - Skips validation if previous version undefined
  cmd/clusterctl/test/e2e/go.sum
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
  go.mod
  go.sum
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Remove a troublesome annotation
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  test/infrastructure/docker/e2e/docker_test.go
Due: pull-cluster-api-provider-docker

chore: expose leader election parameters as flags
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  third_party/kubernetes-drain/README.md
  third_party/kubernetes-drain/drain.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:bug: KCP should set a timeout when trying to connect to remote cluster
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/internal/cluster.go
Due: none

Utilizes new semver utility that will parse out custom build tags
  cmd/clusterctl/test/e2e/go.sum
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
Due: none

:book: update quickstart Azure variables
  docs/book/src/user/quick-start.md
Due: none

update worker kubernetes version in capd test template
  cmd/clusterctl/test/testdata/docker/v0.3.0/cluster-template.yaml
Due: none

Uses released v1.0.7 coredns-migration
  cmd/clusterctl/test/e2e/go.sum
  go.mod
  go.sum
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

:book: Update providers list to supported v1alpha3 providers
  docs/book/src/reference/providers.md
Due: none

Add CAPO to clusterctl embedded metadata
  cmd/clusterctl/client/repository/metadata_client.go
Due: none

log when using overrides for clusterctl
  cmd/clusterctl/client/repository/components_client.go
Due: none

clean up tests
  controlplane/kubeadm/internal/failure_domain_test.go
  controlplane/kubeadm/internal/kubeadm_config_map_test.go
  controlplane/kubeadm/internal/machine_collection.go
  controlplane/kubeadm/internal/machine_collection_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: none

meh
  bootstrap/kubeadm/internal/cloudinit/controlplane_join.go
  go.mod
  go.sum
Due: pull-cluster-api-bootstrap-provider-kubeadm

MoveLeader error handling
  controlplane/kubeadm/internal/etcd/etcd.go
Due: none

Allows dns image tag to be unset
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
Due: none

:bug: Etcd should talk to leader when moving leadership
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
