Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$

Update and unify cluster/resource paused handling
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  controllers/cluster_controller.go
  controllers/cluster_controller_phases.go
  controllers/external/tracker.go
  controllers/machine_controller.go
  controllers/machine_controller_phases.go
  controllers/machinedeployment_controller.go
  controllers/machinehealthcheck_controller.go
  controllers/machineset_controller.go
  controlplane/kubeadm/controllers/controller.go
  docs/book/src/developer/providers/v1alpha2-to-v1alpha3.md
  exp/controllers/machinepool_controller.go
  exp/controllers/machinepool_controller_phases.go
  go.mod
  go.sum
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/go.sum
  util/annotations/paused.go
  util/predicates/cluster_predicates.go
  util/predicates/generic_predicates.go
  util/util.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

:bug: KCP should bypass the controller cache when initializing
  controllers/remote/cluster.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/upgrade_test.go
  controlplane/kubeadm/internal/cluster.go
  util/kubeconfig/kubeconfig.go
  util/secret/secret.go
Due: none

[e2e] add mhc test
  test/e2e/config/docker-ci.yaml
  test/e2e/data/infrastructure-docker/cluster-template-ci.yaml
  test/e2e/data/infrastructure-docker/cluster-template.yaml
  test/e2e/mhc_remediations.go
  test/e2e/mhc_remediations_test.go
  test/framework/machine_helpers.go
  test/framework/machinehealthcheck_helpers.go
Due: none

Enable to mutate preKubeadm, postKubeadm and files in kubeadmConfigSpec
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
Due: none

clusterctl: print stack trace if verbosity is >= 5
  cmd/clusterctl/cmd/root.go
Due: none

Fix to allow multiple test environments
  controllers/cluster_controller_phases_test.go
  controllers/machine_controller_phases_test.go
  exp/controllers/suite_test.go
  test/helpers/envtest.go
Due: none

capd: build & push images to staging registry
  cloudbuild.yaml
Due: none

Refactor condition helpers for Mirror, Summary and Aggregate
  util/conditions/getter.go
  util/conditions/getter_test.go
  util/conditions/merge_test.go
  util/conditions/setter.go
  util/conditions/setter_test.go
Due: none

Fix typos for CABPK
  docs/book/src/developer/architecture/controllers/bootstrap.md
  docs/book/src/tasks/certs/using-custom-certificates.md
Due: none

remove conditions counts
  api/v1alpha3/condition_consts.go
  test/infrastructure/docker/api/v1alpha3/condition_consts.go
Due: pull-cluster-api-provider-docker

:sparkles: Enable kubectl scale on MachinePool
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  exp/api/v1alpha3/machinepool_types.go
Due: none

Adds forNodes that will use all available etcd endpoints - exclude node being removed from nodelist for etcd client
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/proxy/dial.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none

add finalizer to kcp in first reconcile to avoid race condition with delete
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  go.mod
  go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

use docker build kit
  Dockerfile
  Makefile
  cmd/example-provider/Dockerfile
  docs/Dockerfile
  hack/boilerplate/boilerplate.Dockerfile.txt
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Remove pr-integation presubmit files
  Makefile
  scripts/ci-integration.sh
  test/integration/cluster/cluster_test.go
Due: none

fix-push-images
  Tiltfile
  docs/book/src/clusterctl/developers.md
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/config/manager/manager_image_patch.yaml
Due: pull-cluster-api-provider-docker

fix test/helpers.NewFakeClientWithScheme
  test/helpers/client.go
Due: none

Add some docs
  docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/tasks/kubeadm-control-plane.md
Due: none

Set sideEffects:None for cert-manager MutatingWebhookConfiguration
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/config/assets/cert-manager.yaml
  cmd/clusterctl/config/zz_generated.bindata.go
Due: none

bump golang version to 1.13.12
  Dockerfile
  Makefile
  Tiltfile
  cmd/example-provider/Dockerfile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Dockerfile.dev
Due: pull-cluster-api-provider-docker

Add conditions to the Machine object
  api/v1alpha2/conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/condition_consts.go
  api/v1alpha3/machine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controllers/machine_controller.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_test.go
Due: none

:seedling: Use cache tracker to get a client for remote clusters
  controllers/machine_controller.go
  controllers/machine_controller_noderef.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets.go
  controllers/machinehealthcheck_targets_test.go
  controllers/machineset_controller.go
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/remote/cluster_cache_tracker_test.go
  controllers/suite_test.go
  main.go
  util/patch/patch_test.go
Due: none

:seedling: Refactor testenv and remove unused ones
  bootstrap/kubeadm/api/v1alpha2/kubeadmbootstrapconfig_types_test.go
  bootstrap/kubeadm/api/v1alpha2/suite_test.go
  bootstrap/kubeadm/api/v1alpha3/suite_test.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_reconciler_test.go
  bootstrap/kubeadm/controllers/suite_test.go
  bootstrap/kubeadm/internal/locking/control_plane_init_mutex_test.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/remote/cluster_cache_tracker_test.go
  controllers/remote/suite_test.go
  controllers/suite_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types_test.go
  controlplane/kubeadm/api/v1alpha3/suite_test.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/suite_test.go
  exp/controllers/machinepool_controller_phases_test.go
  exp/controllers/suite_test.go
  go.mod
  scripts/ci-test.sh
  test/helpers/envtest.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
  util/patch/suite_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

:seedling: Improve patch helper condition logic
  util/patch/patch.go
  util/patch/utils.go
Due: none

apply conditions patch should preserve LastTransitionTime
  util/conditions/patch.go
  util/conditions/patch_test.go
  util/conditions/setter.go
  util/conditions/setter_test.go
  util/patch/patch_test.go
Due: none

Update docs/book/src/developer/architecture/controllers/control-plane.md
  docs/book/src/developer/architecture/controllers/control-plane.md
Due: none

Simplify nil check logic
  controlplane/kubeadm/controllers/helpers.go
Due: none

:bug: Envtest should initialize controller runtime logger
  controllers/suite_test.go
  test/helpers/envtest.go
Due: none

Adds a test for ensureNamespace and fixes scope bug
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
Due: none

KCP regenerates kubeconfigs before client certs expire
  controlplane/kubeadm/controllers/helpers.go
  util/certs/consts.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/kubeconfig_test.go
Due: none

HasOwnerRef -> IsControlledBy
  controlplane/kubeadm/controllers/helpers.go
Due: none

Add conditions to the KubeadmConfig object
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha3/condition_consts.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

🐛 Make MachineSpec Version validation consistent with KCP
  api/v1alpha3/machine_webhook.go
  api/v1alpha3/machine_webhook_test.go
  controllers/machinedeployment_controller_test.go
  controllers/machineset_controller_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  test/e2e/common.go
Due: none

add conditions to kcp
  controlplane/kubeadm/api/v1alpha3/condition_consts.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/status.go
  controlplane/kubeadm/controllers/status_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/machine_collection.go
  controlplane/kubeadm/internal/machinefilters/machine_filters.go
Due: none

Fix support for dual-stack network ranges
  api/v1alpha3/cluster_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/types/v1beta1/types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

remove error and warning summary from conditions
  util/conditions/merge_strategies.go
  util/conditions/merge_strategies_test.go
  util/conditions/merge_test.go
Due: none

Apply new conditions summary func
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  controllers/machine_controller.go
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Fix typo for "timeout"
  docs/book/src/tasks/healthcheck.md
Due: none

MHC marks machines for remediation with conditions
  api/v1alpha3/condition_consts.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets.go
  controllers/machinehealthcheck_targets_test.go
  controllers/machineset_controller.go
Due: none

Improve conditions summary
  util/conditions/getter.go
  util/conditions/getter_test.go
  util/conditions/merge_strategies.go
Due: none
