Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

MHC marks machines for remediation with conditions
  api/v1alpha3/condition_consts.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets.go
  controllers/machinehealthcheck_targets_test.go
  controllers/machineset_controller.go
Due: none

fix-push-images
  Tiltfile
  docs/book/src/clusterctl/developers.md
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/config/manager/manager_image_patch.yaml
Due: pull-cluster-api-provider-docker

apply conditions patch should preserve LastTransitionTime
  util/conditions/patch.go
  util/conditions/patch_test.go
  util/conditions/setter.go
  util/conditions/setter_test.go
  util/patch/patch_test.go
Due: none

:seedling: Use cache tracker to get a client for remote clusters
  controllers/machine_controller.go
  controllers/machine_controller_noderef.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets.go
  controllers/machinehealthcheck_targets_test.go
  controllers/machineset_controller.go
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/remote/cluster_cache_tracker_test.go
  controllers/suite_test.go
  main.go
  util/patch/patch_test.go
Due: none

remove conditions counts
  api/v1alpha3/condition_consts.go
  test/infrastructure/docker/api/v1alpha3/condition_consts.go
Due: pull-cluster-api-provider-docker

:seedling: Update CONTRIBUTING.md with high-level review guidelines
  CONTRIBUTING.md
Due: none

:book: Add more structure and details to roadmap document
  docs/book/src/roadmap.md
Due: none

Added variable for kind 0.8.0+ due the issue https://github.com/kubernetes-sigs/cluster-api/issues/3013
  docs/book/src/clusterctl/developers.md
  docs/book/src/user/quick-start.md
Due: none

add finalizer to kcp in first reconcile to avoid race condition with delete
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  go.mod
  go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Add MachinePool support for FailureDomains
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  docs/proposals/20190919-machinepool-api.md
  exp/api/v1alpha3/machinepool_types.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
Due: none

add conditions to kcp
  controlplane/kubeadm/api/v1alpha3/condition_consts.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/status.go
  controlplane/kubeadm/controllers/status_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/machine_collection.go
  controlplane/kubeadm/internal/machinefilters/machine_filters.go
Due: none

remove error and warning summary from conditions
  util/conditions/merge_strategies.go
  util/conditions/merge_strategies_test.go
  util/conditions/merge_test.go
Due: none

use docker build kit
  Dockerfile
  Makefile
  cmd/example-provider/Dockerfile
  docs/Dockerfile
  hack/boilerplate/boilerplate.Dockerfile.txt
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Fix typos for CABPK
  docs/book/src/developer/architecture/controllers/bootstrap.md
  docs/book/src/tasks/certs/using-custom-certificates.md
Due: none

Set sideEffects:None for cert-manager MutatingWebhookConfiguration
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/config/assets/cert-manager.yaml
  cmd/clusterctl/config/zz_generated.bindata.go
Due: none

Add AZURE_ENVIRONMENT env var to azure instructions
  docs/book/src/user/quick-start.md
Due: none

:bug: Envtest should initialize controller runtime logger
  controllers/suite_test.go
  test/helpers/envtest.go
Due: none

feat(bootstrap): initialize variable out of for range
  bootstrap/util/configowner.go
Due: none

Update external etcd documentation
  bootstrap/kubeadm/docs/external-etcd.md
Due: pull-cluster-api-bootstrap-provider-kubeadm

add area label to the issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Support Kubernetes 1.18 Adds and modifies e2e tests to test scenario Makefile updated for local testing
  .dockerignore
  Makefile
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/upgrade.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
  controlplane/kubeadm/internal/workload_cluster_rbac.go
  controlplane/kubeadm/internal/workload_cluster_rbac_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  test/e2e/.gitignore
  test/e2e/config/docker-ci.yaml
  test/e2e/config/docker-dev.yaml
  test/e2e/kcp_upgrade.go
  test/e2e/self_hosted.go
  test/infrastructure/docker/e2e/.gitignore
Due: pull-cluster-api-provider-docker

fix-clusterctl-soft-ownership
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  util/secret/consts.go
  util/secret/secret.go
  util/secret/secret_test.go
Due: none

fix developer guide
  docs/book/src/developer/tilt.md
Due: none

remove use of metav1.FinalizerDeleteDependents from tests
  controllers/machine_controller_test.go
  exp/controllers/machinepool_controller_test.go
Due: none

OWNERS_ALIASES: add fabriziopandini to leads
  OWNERS_ALIASES
Due: none

Update etcd certificate discussion
  bootstrap/kubeadm/docs/external-etcd.md
Due: pull-cluster-api-bootstrap-provider-kubeadm

fix clusterctl read config
  cmd/clusterctl/client/config/reader_viper.go
  cmd/clusterctl/client/config/reader_viper_test.go
Due: none

Move ToUnstructured function from clusterctl to util
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/inventory.go
  cmd/clusterctl/client/init_test.go
  cmd/clusterctl/client/repository/components.go
  cmd/clusterctl/client/repository/components_client_test.go
  cmd/clusterctl/client/repository/template.go
  cmd/clusterctl/internal/util/yaml.go
  cmd/clusterctl/internal/util/yaml_test.go
  util/yaml/yaml.go
  util/yaml/yaml_test.go
Due: none

:sparkles: CABPK: Support disk_setup and mounts in cloud-init
  bootstrap/kubeadm/README.md
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/cloudinit/cloudinit.go
  bootstrap/kubeadm/internal/cloudinit/cloudinit_test.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_init.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_join.go
  bootstrap/kubeadm/internal/cloudinit/disk_setup.go
  bootstrap/kubeadm/internal/cloudinit/fs_setup.go
  bootstrap/kubeadm/internal/cloudinit/mounts.go
  bootstrap/kubeadm/internal/cloudinit/node.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

docs: Kubernetes support matrix
  docs/book/src/SUMMARY.md
  docs/book/src/images/management-workload-same-cluster.plantuml
  docs/book/src/images/management-workload-same-cluster.png
  docs/book/src/images/management-workload-separate-clusters.plantuml
  docs/book/src/images/management-workload-separate-clusters.png
  docs/book/src/reference/versions.md
Due: none

Add tolerations for cert-manager.
  cmd/clusterctl/config/assets/cert-manager.yaml
  cmd/clusterctl/config/zz_generated.bindata.go
Due: none

Add ClusterResourceSetStatus
  docs/proposals/20200220-cluster-resource-set.md
Due: none

drop capd-e2e
  Makefile
  scripts/ci-capd-e2e.sh
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/e2e/.gitignore
  test/infrastructure/docker/e2e/ci-e2e.conf
  test/infrastructure/docker/e2e/custom_assertions.go
  test/infrastructure/docker/e2e/custom_management.go
  test/infrastructure/docker/e2e/docker_suite_test.go
  test/infrastructure/docker/e2e/docker_test.go
  test/infrastructure/docker/e2e/docker_upgrade_test.go
  test/infrastructure/docker/e2e/local-e2e.conf
  test/infrastructure/docker/go.mod
Due: pull-cluster-api-provider-docker

conditions proposal
  docs/proposals/20200506-conditions.md
  docs/proposals/images/conditions/cluster-provision-workflow.png
  docs/proposals/images/conditions/upgrade-workflow.png
Due: none

📖 Update concepts doc
  docs/book/src/user/concepts.md
Due: none

Add ObservedGeneration to all relevant objects
  api/v1alpha2/conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/cluster_types.go
  api/v1alpha3/machine_types.go
  api/v1alpha3/machinehealthcheck_types.go
  bootstrap/kubeadm/api/v1alpha2/conversion.go
  bootstrap/kubeadm/api/v1alpha2/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Remove WaitGroup for MachineSet controller deletion requests
  controllers/machineset_controller.go
Due: none

:running: Test external.Clone annotations in template
  controllers/external/util_test.go
Due: none

Add additional context around experiment lifecycle
  CONTRIBUTING.md
Due: none

Renamed "Sync" mode "Reconcile"
  docs/proposals/20200220-cluster-resource-set.md
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
