Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

remove redundant alias across the codebase
  api/v1beta1/machinedeployment_webhook.go
  api/v1beta1/machineset_webhook.go
  bootstrap/kubeadm/types/utils.go
  exp/addons/api/v1alpha3/conversion.go
  exp/addons/api/v1alpha4/conversion.go
  exp/addons/api/v1beta1/clusterresourceset_webhook.go
  exp/api/v1alpha4/conversion.go
  exp/api/v1beta1/machinepool_webhook.go
  test/infrastructure/docker/api/v1beta1/dockermachinetemplate_webhook.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

remove unused forked package
  test/infrastructure/docker/third_party/forked/README.md
  test/infrastructure/docker/third_party/forked/rerun-process-wrapper/LICENSE
  test/infrastructure/docker/third_party/forked/rerun-process-wrapper/README.md
  test/infrastructure/docker/third_party/forked/rerun-process-wrapper/restart.sh
  test/infrastructure/docker/third_party/forked/rerun-process-wrapper/start.sh
Due: pull-cluster-api-provider-docker

drop CAPD old stuff
  test/infrastructure/docker/docs/kind.md
  test/infrastructure/docker/docs/release.md
  test/infrastructure/docker/docs/troubleshooting.md
  test/infrastructure/docker/hack/boilerplate.go.txt
  test/infrastructure/docker/hack/set-workspace-status.sh
  test/infrastructure/docker/hack/update-gofmt.sh
  test/infrastructure/docker/hack/update-goimports.sh
  test/infrastructure/docker/scripts/publish-manager.sh
Due: pull-cluster-api-provider-docker

bump etcd v3.5.1
  go.mod
  go.sum
  test/e2e/config/docker.yaml
  test/go.sum
Due: none

test/e2e: simplify quickstart flavor calculation
  test/e2e/quick_start.go
Due: none

add check to ensure ClusterClass update doesn't invalidate existing clusters
  internal/builder/builders.go
  internal/topology/variables/cluster_variable_validation.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  internal/webhooks/cluster_test.go
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
  internal/webhooks/patch_validation.go
Due: none

clusterctl: fix typo for ratelimit error
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/repository/repository_github.go
Due: none

:seedling: update kpromo to v3.3.0-beta.3
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

CAPD: add ClusterClass cluster-template
  docs/book/src/clusterctl/developers.md
  test/infrastructure/docker/templates/cluster-template-development.yaml
  test/infrastructure/docker/templates/cluster-template-topology.yaml
  test/infrastructure/docker/templates/clusterclass-quick-start.yaml
Due: pull-cluster-api-provider-docker

Fix incorrect array initalization causing incorrect webhook failures
  internal/webhooks/clusterclass.go
  internal/webhooks/clusterclass_test.go
Due: none

Add a stress test for ClusterClass webhook variable check
  internal/webhooks/test/clusterclass_test.go
  internal/webhooks/test/suite_test.go
Due: none

move CAPD packages to internal
  docs/book/src/developer/providers/v1.0-to-v1.1.md
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/internal/cloudinit/doc.go
  test/infrastructure/docker/internal/cloudinit/kindadapter.go
  test/infrastructure/docker/internal/cloudinit/kindadapter_test.go
  test/infrastructure/docker/internal/cloudinit/runcmd.go
  test/infrastructure/docker/internal/cloudinit/runcmd_test.go
  test/infrastructure/docker/internal/cloudinit/unknown.go
  test/infrastructure/docker/internal/cloudinit/unknown_test.go
  test/infrastructure/docker/internal/cloudinit/writefiles.go
  test/infrastructure/docker/internal/cloudinit/writefiles_test.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/internal/docker/doc.go
  test/infrastructure/docker/internal/docker/errors.go
  test/infrastructure/docker/internal/docker/kind_manager.go
  test/infrastructure/docker/internal/docker/loadbalancer.go
  test/infrastructure/docker/internal/docker/machine.go
  test/infrastructure/docker/internal/docker/types/node.go
  test/infrastructure/docker/internal/docker/util.go
  test/infrastructure/docker/internal/third_party/forked/README.md
  test/infrastructure/docker/internal/third_party/forked/loadbalancer/config.go
  test/infrastructure/docker/internal/third_party/forked/loadbalancer/const.go
  test/infrastructure/docker/internal/third_party/forked/loadbalancer/doc.go
Due: pull-cluster-api-provider-docker

ClusterClass: implement object and array variables
  api/v1alpha4/conversion_test.go
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  controllers/topology/internal/extensions/patches/inline/json_patch_generator.go
  controllers/topology/internal/extensions/patches/inline/json_patch_generator_test.go
  internal/topology/variables/cluster_variable_defaulting.go
  internal/topology/variables/cluster_variable_defaulting_test.go
  internal/topology/variables/cluster_variable_validation_test.go
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
  internal/topology/variables/schema.go
  internal/topology/variables/schema_test.go
  internal/webhooks/cluster_test.go
  internal/webhooks/patch_validation.go
  internal/webhooks/patch_validation_test.go
Due: none

Fix cluster topology and UpdateCoreDNS test falkes
  controllers/topology/cluster_controller_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: none

:seedling: Add GitHub Action to automate creating a release
  .github/workflows/release.yml
  .gitignore
  Makefile
  docs/developer/releasing.md
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Add v1.1 to metadata.yaml
  metadata.yaml
Due: none

Use Kubernetes 1.23 in: quickstart, CAPD, e2e tests + update doc
  CONTRIBUTING.md
  docs/book/src/reference/jobs.md
  docs/book/src/reference/versions.md
  docs/book/src/user/quick-start.md
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
  test/infrastructure/docker/internal/docker/machine.go
Due: pull-cluster-api-provider-docker

modify providerid struct string method to receive value
  controllers/noderefutil/providerid.go
Due: none

Enforce godoc comments for exported functions
  .golangci.yml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/exp/api/v1alpha3/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1beta1/dockermachinepool_types.go
  test/infrastructure/docker/internal/docker/kind_manager.go
  test/infrastructure/docker/internal/docker/machine.go
  test/infrastructure/docker/internal/docker/types/node.go
Due: pull-cluster-api-provider-docker

bootstrap/kubeadm: add validation webhook for KubeadmConfigTemplate
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_webhook.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_webhook_test.go
  bootstrap/kubeadm/config/webhook/manifests.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

bootstrap/kubeadm: Add Ignition bootstrap format
  OWNERS_ALIASES
  bootstrap/kubeadm/api/v1alpha3/conversion.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha4/conversion.go
  bootstrap/kubeadm/api/v1alpha4/conversion_test.go
  bootstrap/kubeadm/api/v1alpha4/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types_test.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook.go
  bootstrap/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/internal/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/internal/ignition/OWNERS
  bootstrap/kubeadm/internal/ignition/clc/clc.go
  bootstrap/kubeadm/internal/ignition/clc/clc_test.go
  bootstrap/kubeadm/internal/ignition/ignition.go
  bootstrap/kubeadm/internal/ignition/ignition_test.go
  controlplane/kubeadm/api/v1alpha3/conversion.go
  controlplane/kubeadm/api/v1alpha4/conversion.go
  controlplane/kubeadm/api/v1alpha4/conversion_test.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  go.mod
  go.sum
  test/e2e/Makefile
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1beta1/cluster-template-ignition/ignition.yaml
  test/e2e/data/infrastructure-docker/v1beta1/cluster-template-ignition/kustomization.yaml
  test/e2e/quick_start_test.go
  test/go.sum
Due: pull-cluster-api-bootstrap-provider-kubeadm

controlplane/kubeadm/api/v1beta1: validate KubeadmConfigSpec
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
Due: none

Add feature gate KubeadmBootstrapFormatIgnition
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_types_test.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfigtemplate_webhook_test.go
  bootstrap/kubeadm/config/manager/manager.yaml
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/config/manager/manager.yaml
  feature/feature.go
  test/e2e/config/docker.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Add Ignition provisioning format for CAPD
  test/go.mod
  test/go.sum
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/internal/docker/machine.go
  test/infrastructure/docker/internal/provisioning/cloudinit/doc.go
  test/infrastructure/docker/internal/provisioning/cloudinit/kindadapter.go
  test/infrastructure/docker/internal/provisioning/cloudinit/kindadapter_test.go
  test/infrastructure/docker/internal/provisioning/cloudinit/runcmd.go
  test/infrastructure/docker/internal/provisioning/cloudinit/runcmd_test.go
  test/infrastructure/docker/internal/provisioning/cloudinit/unknown.go
  test/infrastructure/docker/internal/provisioning/cloudinit/unknown_test.go
  test/infrastructure/docker/internal/provisioning/cloudinit/writefiles.go
  test/infrastructure/docker/internal/provisioning/cloudinit/writefiles_test.go
  test/infrastructure/docker/internal/provisioning/commands.go
  test/infrastructure/docker/internal/provisioning/ignition/OWNERS
  test/infrastructure/docker/internal/provisioning/ignition/doc.go
  test/infrastructure/docker/internal/provisioning/ignition/kindadapter.go
  test/infrastructure/docker/internal/provisioning/ignition/kindadapter_test.go
Due: pull-cluster-api-provider-docker

Rename kubeadmconfig_types_test.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Disallow unsupported storage params with Ignition
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook.go
  bootstrap/kubeadm/api/v1beta1/kubeadmconfig_webhook_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Document Ignition feature gate
  docs/book/src/SUMMARY.md
  docs/book/src/tasks/experimental-features/experimental-features.md
  docs/book/src/tasks/experimental-features/ignition.md
Due: none

ClusterClass: add doc fields for patches and variables
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/clusterclass_variable_validation.go
  internal/topology/variables/clusterclass_variable_validation_test.go
Due: none

KCP: remove redundant and unused KubeadmControlPlaneTemplate fields
  controlplane/kubeadm/api/v1alpha3/conversion.go
  controlplane/kubeadm/api/v1alpha4/conversion.go
  controlplane/kubeadm/api/v1alpha4/conversion_test.go
  controlplane/kubeadm/api/v1alpha4/zz_generated.conversion.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_webhook_test.go
  controlplane/kubeadm/api/v1beta1/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  test/e2e/data/infrastructure-docker/v1beta1/clusterclass-quick-start.yaml
Due: none

Add test coverage for container runtime calls
  docs/book/src/developer/providers/v1.0-to-v1.1.md
  test/framework/bootstrap/kind_util.go
  test/framework/cluster_proxy.go
  test/framework/docker_logcollector.go
  test/framework/kubetest/run.go
  test/infrastructure/container/docker.go
  test/infrastructure/container/fake.go
  test/infrastructure/container/interface.go
  test/infrastructure/container/interface_test.go
  test/infrastructure/docker/controllers/alias.go
  test/infrastructure/docker/exp/controllers/alias.go
  test/infrastructure/docker/exp/internal/controllers/dockermachinepool_controller.go
  test/infrastructure/docker/exp/internal/docker/nodepool.go
  test/infrastructure/docker/internal/controllers/dockercluster_controller.go
  test/infrastructure/docker/internal/controllers/dockermachine_controller.go
  test/infrastructure/docker/internal/docker/kind_manager.go
  test/infrastructure/docker/internal/docker/kind_manager_test.go
  test/infrastructure/docker/internal/docker/loadbalancer.go
  test/infrastructure/docker/internal/docker/machine.go
  test/infrastructure/docker/internal/docker/types/node.go
  test/infrastructure/docker/internal/docker/types/node_test.go
  test/infrastructure/docker/internal/docker/util.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-provider-docker

Remove darwin arm64 from release-binaries
  Makefile
Due: none

Use release tag as git version for building clusterctl binaries
  Makefile
  hack/version.sh
Due: none

Add image promotion make target using kpromo
  Makefile
  docs/developer/releasing.md
  hack/get-project-maintainers.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: none

capd: fix MachinePool reconciler
  test/infrastructure/docker/main.go
Due: pull-cluster-api-provider-docker

add basic integration tests for ClusterClass webhook
  internal/webhooks/test/clusterclass_test.go
  internal/webhooks/test/doc.go
  internal/webhooks/test/suite_test.go
Due: none

ClusterClass: clarify that enum works with all types
  api/v1beta1/clusterclass_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/topology/variables/cluster_variable_validation_test.go
Due: none

test/e2e: refactor tests to enable IPv6 and ClusterClass informing test jobs
  test/e2e/config/docker.yaml
  test/e2e/data/infrastructure-docker/v1beta1/cluster-template-ipv6/cluster-ipv6.yaml
  test/e2e/data/infrastructure-docker/v1beta1/cluster-template-ipv6/kustomization.yaml
  test/e2e/quick_start.go
  test/e2e/quick_start_test.go
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
