Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

:book: Add release guidelines and policies to contributing guide
  CONTRIBUTING.md
Due: none

Add RequeueAfter to the ones previously had RequeueAfter.
  controllers/machine_controller_noderef.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
Due: none

Use NewDelegatingClient function, the struct has been removed
  controllers/remote/cluster_cache.go
  util/util.go
Due: none

Exclude tests that should be reworked
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  cmd/clusterctl/client/cluster/inventory_managementgroup_test.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  controllers/cluster_controller_test.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Pass context based on signal handlers to all managers
  bootstrap/kubeadm/main.go
  cmd/example-provider/main.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/remote/cluster_cache_tracker_test.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Update go modules to controller-runtime v0.7.0-alpha.2 / k8s 1.19.2
  go.mod
  go.sum
  hack/tools/go.sum
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
Due: pull-cluster-api-provider-docker

Update generated CRDs
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm

Clusterctl cert-manager test should handle both webhooks v1 and v1beta1
  cmd/clusterctl/client/cluster/cert_manager_test.go
  cmd/clusterctl/internal/scheme/scheme.go
Due: none

Rework envtest start/stop to use a context instead of channel
  bootstrap/kubeadm/controllers/suite_test.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/remote/suite_test.go
  controllers/suite_test.go
  controlplane/kubeadm/controllers/suite_test.go
  controlplane/kubeadm/internal/suite_test.go
  exp/addons/controllers/suite_test.go
  exp/controllers/suite_test.go
  test/helpers/envtest.go
  util/patch/suite_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

remote/cluster: Use context for cancellation instead of stop channel
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/stoppable_cache.go
Due: none

Remove log and scheme from reconciler's structs wherever possible
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_reconciler_test.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  controllers/cluster_controller.go
  controllers/cluster_controller_phases.go
  controllers/cluster_controller_phases_test.go
  controllers/cluster_controller_test.go
  controllers/machine_controller.go
  controllers/machine_controller_noderef_test.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
  controllers/machine_controller_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets_test.go
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
  controllers/remote/cluster.go
  controllers/remote/cluster_test.go
  controllers/remote/fake/cluster.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/helpers_test.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/status_test.go
  controlplane/kubeadm/controllers/upgrade_test.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourcesetbinding_controller.go
  exp/controllers/machinepool_controller.go
  exp/controllers/machinepool_controller_noderef_test.go
  exp/controllers/machinepool_controller_phases_test.go
  exp/controllers/machinepool_controller_test.go
  exp/controllers/suite_test.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
  util/conversion/conversion.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Controllers SetupWithManager now accept a context as first parameter
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/main.go
  cmd/example-provider/main.go
  controllers/cluster_controller.go
  controllers/machine_controller.go
  controllers/machinedeployment_controller.go
  controllers/machinehealthcheck_controller.go
  controllers/machineset_controller.go
  controllers/remote/cluster_cache_reconciler.go
  controllers/remote/cluster_cache_reconciler_test.go
  controllers/suite_test.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/main.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourcesetbinding_controller.go
  exp/addons/controllers/suite_test.go
  exp/controllers/machinepool_controller.go
  exp/controllers/suite_test.go
  main.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Update kubernetes-drain to use contexts
  third_party/kubernetes-drain/cordon.go
  third_party/kubernetes-drain/default.go
  third_party/kubernetes-drain/drain.go
  third_party/kubernetes-drain/filters.go
Due: none

Use handler.EnqueueRequestsFromMapFunc when registering map functions
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  controllers/cluster_controller.go
  controllers/machine_controller.go
  controllers/machinedeployment_controller.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machineset_controller.go
  controllers/remote/cluster_cache_tracker_test.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourcesetbinding_controller.go
  exp/controllers/machinepool_controller.go
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller_test.go
  test/infrastructure/docker/exp/controllers/dockermachinepool_controller.go
  util/util.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Add Machine and KCP conditions to KCP controller
  api/v1alpha3/condition_consts.go
  controlplane/kubeadm/api/v1alpha3/condition_consts.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/status.go
  controlplane/kubeadm/controllers/upgrade_test.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/machine_collection.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none

Set conditions directly on the controlPlane machines.
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/control_plane.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none

Address comments
  controlplane/kubeadm/controllers/controller.go
Due: none

Modify reconcilePodStatusCondition return type
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none

Removed GetSeverity()
  api/v1alpha3/condition_consts.go
  controlplane/kubeadm/api/v1alpha3/condition_consts.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none

Address comments
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

Minor changes.
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none

Add health checks to reconcileDelete
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
Due: none

:seedling: Add github action to check PR contents
  .github/workflows/verify.yml
Due: none

Cluster controller delete flow can now use client.Object directly
  controllers/cluster_controller.go
Due: none

util/patch: Make sure that objects are created before acting on them
  util/patch/patch_test.go
Due: none

Rework kubeadm control plane tests to be more consistent with the rest
  controlplane/kubeadm/internal/control_plane_test.go
Due: none

Mapping functions now panic if the type doesn't match expectations
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  controllers/cluster_controller.go
  controllers/machinedeployment_controller.go
  controllers/machinehealthcheck_controller.go
  controllers/machineset_controller.go
  controlplane/kubeadm/controllers/controller.go
  exp/addons/controllers/clusterresourceset_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

:bug: KubeadmControlPlane should use a live client when listing machines
  controlplane/kubeadm/controllers/controller.go
Due: none

fix conditions counter
  util/conditions/getter.go
  util/conditions/getter_test.go
Due: none

Remove RequeueAfterError from machine controller
  controllers/machine_controller.go
  controllers/machine_controller_noderef.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
Due: none

Disregard health check errors during reconcileDelete
  controlplane/kubeadm/controllers/controller.go
Due: none

Add quorum check and ignore health errors during reconcileDelete
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/internal/etcd/etcd.go
  controlplane/kubeadm/internal/etcd/etcd_test.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none

remove token from log
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Update quick-start.md
  docs/book/src/user/quick-start.md
Due: none

remove usage of /tmp in capbk
  bootstrap/kubeadm/internal/cloudinit/cloudinit.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_init.go
  bootstrap/kubeadm/internal/cloudinit/controlplane_join.go
  bootstrap/kubeadm/internal/cloudinit/kubeadm-bootstrap-script.sh
  bootstrap/kubeadm/internal/cloudinit/node.go
  bootstrap/kubeadm/internal/cloudinit/zz_generated.bindata.go
  test/infrastructure/docker/cloudinit/kindadapter_test.go
  test/infrastructure/docker/cloudinit/runcmd_test.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

nit correction
  test/infrastructure/docker/README.md
Due: pull-cluster-api-provider-docker

Use tilt cert_manager extension
  Tiltfile
  tilt_modules/cert_manager/README.md
  tilt_modules/cert_manager/Tiltfile
  tilt_modules/extensions.json
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
