Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

Allow empty status fields
  api/v1alpha3/machinehealthcheck_types.go
  api/v1alpha3/machinehealthcheck_webhook_test.go
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
Due: none

Make hasMatchingLabels generic
  controllers/machine_helpers.go
  controllers/machine_helpers_test.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
Due: none

🏃Cleanup and add tests for bootstrap util.GetConfigOwner
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/util/configowner.go
  bootstrap/util/configowner_test.go
  go.sum
Due: pull-cluster-api-bootstrap-provider-kubeadm

add a cluster watcher in the machine controller to reconcile
  controllers/machine_controller.go
  controllers/machine_controller_test.go
Due: none

Update kubelet and kubeadm config on upgrade
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/kubeadm_config_map.go
  controlplane/kubeadm/internal/kubeadm_config_map_test.go
Due: none

cleanup for machine_controller watcher of a cluster
  controllers/machine_controller.go
  controllers/machine_controller_test.go
Due: none

Report all healthcheck errors
  controlplane/kubeadm/internal/cluster.go
Due: none

Remove Deprecation msg
  cmd/clusterctl/cmd/root.go
  cmd/clusterctl/testdata/create-no-args.golden
  cmd/clusterctl/testdata/delete-cluster-no-args.golden
  cmd/clusterctl/testdata/delete-no-args.golden
  cmd/clusterctl/testdata/no-args.golden
  cmd/clusterctl/testdata/validate-no-args.golden
  docs/book/src/tooling/clusterctl.md
Due: none

Add validation webhook check to make Spec.ClusterName immutable
  api/v1alpha3/machine_webhook.go
  api/v1alpha3/machine_webhook_test.go
  api/v1alpha3/machinedeployment_webhook.go
  api/v1alpha3/machinedeployment_webhook_test.go
  api/v1alpha3/machinepool_webhook.go
  api/v1alpha3/machinepool_webhook_test.go
  api/v1alpha3/machineset_webhook.go
  api/v1alpha3/machineset_webhook_test.go
Due: none

Feedback #3
  api/v1alpha3/machinehealthcheck_webhook.go
  controllers/machinehealthcheck_controller.go
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets.go
  controllers/machinehealthcheck_targets_test.go
Due: none

Go back to map for informers
  controllers/machinehealthcheck_controller.go
Due: none

Don't use pointer for mutex
  controllers/machinehealthcheck_controller.go
Due: none

Add nodeMissing field to HealthCheckTarget
  controllers/machinehealthcheck_targets.go
  controllers/machinehealthcheck_targets_test.go
Due: none

Allow kcp etcd health check to pass
  controlplane/kubeadm/internal/cluster.go
Due: none

Set LastUpdated on Machine status when Phase changes
  api/v1alpha3/machine_types.go
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
Due: none

:running: Use go-bindata/go-bindata like in k/k
  Makefile
  cmd/clusterctl/config/zz_generated.bindata.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  test/infrastructure/docker/hack/tools/go.sum
Due: pull-cluster-api-provider-docker

refactor the etcd client in the cluster object
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/etcd_client_generator.go
Due: none

:bug: Fix misleading log when creating bootstrap data secret
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Try all nodes except one being removed when removing etcd member
  controlplane/kubeadm/internal/cluster.go
Due: none

Add unit tests for health check function
  controlplane/kubeadm/internal/cluster_test.go
Due: none

clusterctl-drop-incomplete-plans
  cmd/clusterctl/pkg/client/cluster/upgrader.go
  cmd/clusterctl/pkg/client/cluster/upgrader_info.go
  cmd/clusterctl/pkg/client/cluster/upgrader_info_test.go
  cmd/clusterctl/pkg/client/cluster/upgrader_test.go
Due: none

Refactor workload cluster out of cluster
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

also delete controller in the webhook ns when deleting a provider
  cmd/clusterctl/pkg/client/cluster/components.go
  cmd/clusterctl/pkg/client/cluster/components_test.go
Due: none

Define type for secret created by kubeadm bootstrap controller
  api/v1alpha3/common_types.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  docs/book/src/developer/providers/v1alpha2-to-v1alpha3.md
Due: pull-cluster-api-bootstrap-provider-kubeadm

:running: fetch_ext_bins now checks existing version before downloading
  scripts/fetch_ext_bins.sh
Due: none

Refactors config reconciliation to the workload cluster and tests it
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

KCP: set managementCluster in SetupWithManager
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller_test.go
Due: none

fix: etcd client terseness
  controlplane/kubeadm/internal/proxy/conn.go
  controlplane/kubeadm/internal/proxy/dial.go
  go.mod
  go.sum
Due: none

:running: kubeadmcontrolplane: clean up removeMemberForNode
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

go: bump go to 1.13.8
  Dockerfile
  Makefile
  Tiltfile
  cmd/example-provider/Dockerfile
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Dockerfile.dev
Due: pull-cluster-api-provider-docker

manager/docker: add liveness/readiness probes
  test/infrastructure/docker/config/manager/manager.yaml
  test/infrastructure/docker/main.go
Due: pull-cluster-api-provider-docker

Fix KCP diagram link
  docs/book/src/developer/architecture/controllers/control-plane.md
Due: none

Address feedback for unit test
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

:running: Refactor OWNERS files throughout the repo
  OWNERS_ALIASES
  bootstrap/kubeadm/OWNERS
  cmd/clusterctl/OWNERS
  docs/book/OWNERS
  test/infrastructure/docker/OWNERS
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

removing clusterctl adopt from the docs
  docs/book/src/SUMMARY.md
  docs/book/src/clusterctl/commands/adopt.md
  docs/book/src/clusterctl/commands/commands.md
  docs/book/src/clusterctl/provider-contract.md
Due: none

fix: KubeadmControlPlane should allow orphans
  controlplane/kubeadm/controllers/kubeadm_control_plane_controller.go
Due: none

Excluded metadata in annotation during conversion
  api/v1alpha2/conversion.go
  util/conversion/conversion.go
  util/conversion/conversion_test.go
Due: none

Update hash to include KubeadmConfigSpec, since we plan on making at least part of it mutable
  controlplane/kubeadm/internal/hash/hash.go
Due: none

clusterctl-upgrade-plan-apply2
  cmd/clusterctl/cmd/upgrade_apply.go
  cmd/clusterctl/pkg/client/cluster/upgrader.go
  cmd/clusterctl/pkg/client/cluster/upgrader_test.go
  cmd/clusterctl/pkg/client/upgrade.go
  cmd/clusterctl/pkg/client/upgrade_test.go
Due: none

Adds kubernetes networking to capd e2es
  cmd/clusterctl/test/e2e/go.mod
  test/framework/apply.go
  test/framework/convenience.go
  test/framework/go.mod
  test/framework/go.sum
  test/framework/management/kind/mgmt.go
  test/infrastructure/docker/e2e/docker_suite_test.go
  test/infrastructure/docker/e2e/docker_test.go
  test/infrastructure/docker/go.mod
Due: pull-cluster-api-provider-docker

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
