Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$

Improve error message for yaml unmarshal
  cmd/clusterctl/internal/util/yaml.go
  cmd/clusterctl/internal/util/yaml_test.go
  util/util.go
  util/util_test.go
Due: none

Bugfix for match issue in 2775
  util/util.go
Due: none

This patch will fix separator problem issued in https://github.com/kubernetes-sigs/cluster-api/issues/2775
  docs/book/src/developer/providers/v1alpha2-to-v1alpha3.md
  util/conversion/conversion.go
Due: none

Add test for etcd upgrade
  test/framework/workload_cluster.go
  test/infrastructure/docker/e2e/docker_test.go
Due: pull-cluster-api-provider-docker

Remove outdated comments
  test/framework/control_plane.go
Due: none

Isolate upgrade etcd tests
  test/framework/workload_cluster.go
  test/infrastructure/docker/e2e/docker_test.go
Due: pull-cluster-api-provider-docker

Delete workload cluster in AfterEach
  test/infrastructure/docker/e2e/docker_suite_test.go
  test/infrastructure/docker/e2e/docker_test.go
Due: pull-cluster-api-provider-docker

Move etcd upgrade test into separate file
  test/framework/workload_cluster.go
  test/infrastructure/docker/e2e/docker_test.go
  test/infrastructure/docker/e2e/docker_upgrade_test.go
Due: pull-cluster-api-provider-docker

Refactor upgrade tests
  test/infrastructure/docker/Makefile
  test/infrastructure/docker/e2e/docker_test.go
  test/infrastructure/docker/e2e/docker_upgrade_test.go
Due: pull-cluster-api-provider-docker

Support modifying spec.kubeadmConfigSpec.clusterConfiguration.imageRepository
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
  util/util.go
  util/util_test.go
Due: none

adding export sp commands
  docs/book/src/user/quick-start.md
Due: none

dependencies: update controller-runtime to v0.5.2 and controller-tools to v0.2.8
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_metadata.yaml
  cmd/clusterctl/config/crd/bases/clusterctl.cluster.x-k8s.io_providers.yaml
  cmd/clusterctl/config/zz_generated.bindata.go
  cmd/clusterctl/test/e2e/go.mod
  cmd/clusterctl/test/e2e/go.sum
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
  test/infrastructure/docker/hack/tools/go.mod
  test/infrastructure/docker/hack/tools/go.sum
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

tests: add missing tests in repository github
  cmd/clusterctl/client/repository/repository_github_test.go
Due: none

Adds coredns upgrade validations to upgrade e2e tests
  test/infrastructure/docker/e2e/docker_upgrade_test.go
Due: pull-cluster-api-provider-docker

Update kubeadm configmap imageRepository
  controlplane/kubeadm/controllers/upgrade.go
  controlplane/kubeadm/internal/kubeadm_config_map.go
  controlplane/kubeadm/internal/workload_cluster.go
Due: none

Add tests, nil checks
  controlplane/kubeadm/controllers/upgrade.go
  controlplane/kubeadm/internal/kubeadm_config_map.go
  controlplane/kubeadm/internal/kubeadm_config_map_test.go
Due: none

Add more unit tests to the kubeadmControlPlane area to improve coverage
  controlplane/kubeadm/internal/control_plane_test.go
  controlplane/kubeadm/internal/etcd/etcd_test.go
  controlplane/kubeadm/internal/etcd/fake/client.go
Due: none

Add test for UpdateKubernetesVersion
  controlplane/kubeadm/internal/kubeadm_config_map.go
  controlplane/kubeadm/internal/kubeadm_config_map_test.go
Due: none

Update to include capi-components helm chart
  config/helm/capi-components/Chart.yaml
  config/helm/capi-components/README.md
  config/helm/capi-components/crds/capi-webhook-system_capi-kubeadm-bootstrap-serving-cert_kubeadmconfigs.yaml
  config/helm/capi-components/crds/capi-webhook-system_capi-kubeadm-bootstrap-serving-cert_kubeadmconfigtemplates.yaml
  config/helm/capi-components/crds/capi-webhook-system_capi-kubeadm-control-plane-serving-cert_kubeadmcontrolplanes.yaml
  config/helm/capi-components/crds/capi-webhook-system_capi-serving-cert_clusters.yaml
  config/helm/capi-components/crds/capi-webhook-system_capi-serving-cert_machinedeployments.yaml
  config/helm/capi-components/crds/capi-webhook-system_capi-serving-cert_machinehealthchecks.yaml
  config/helm/capi-components/crds/capi-webhook-system_capi-serving-cert_machines.yaml
  config/helm/capi-components/crds/capi-webhook-system_capi-serving-cert_machinesets.yaml
  config/helm/capi-components/crds/machinepools.yaml
  config/helm/capi-components/crds/namespaces.yaml
  config/helm/capi-components/templates/certificates.yaml
  config/helm/capi-components/templates/deployment.yaml
  config/helm/capi-components/templates/rbac.yaml
  config/helm/capi-components/templates/service.yaml
  config/helm/capi-components/templates/webhooks.yaml
  config/helm/capi-components/values.yaml
Due: none

merge clusterctl E2E with CAPI E2E
  cmd/clusterctl/test/README.md
  cmd/clusterctl/test/config/aws-dev.conf
  cmd/clusterctl/test/config/docker-dev.conf
  cmd/clusterctl/test/data/calico/calico.yaml
  cmd/clusterctl/test/data/infrastructure-aws/cluster-template.yaml
  cmd/clusterctl/test/data/infrastructure-docker/cluster-template.yaml
  cmd/clusterctl/test/data/infrastructure-docker/metadata.yaml
  cmd/clusterctl/test/e2e/Makefile
  cmd/clusterctl/test/e2e/basic_test.go
  cmd/clusterctl/test/e2e/clusterctl_suite_test.go
  cmd/clusterctl/test/e2e/config_cluster_test.go
  cmd/clusterctl/test/e2e/delete_test.go
  cmd/clusterctl/test/e2e/e2e_suite_test.go
  cmd/clusterctl/test/e2e/go.mod
  cmd/clusterctl/test/e2e/go.sum
  cmd/clusterctl/test/e2e/helpers.go
  cmd/clusterctl/test/e2e/move_test.go
  cmd/clusterctl/test/e2e/move_xtest.go
  cmd/clusterctl/test/run-e2e.sh
  cmd/clusterctl/test/testdata/docker/v0.3.0/cluster-template.yaml
  test/framework/clusterctl/client.go
  test/framework/clusterctl/clusterctl_config.go
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterctl/logger/log_file.go
  test/framework/clusterctl/logger/logger.go
  test/framework/clusterctl/management_cluster.go
  test/framework/clusterctl/repository.go
  test/framework/controllers.go
  test/framework/discovery/discovery.go
Due: none

Add intial spot instances proposal
  docs/proposals/20200330-spot-instances.md
Due: none

clusterctl e2e config
  test/framework/clusterctl/clusterctl_config.go
  test/framework/clusterctl/e2e_config.go
  test/framework/clusterctl/repository.go
Due: none

Add controller version in logs
  Makefile
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

handles subpaths in DNS imageRepository
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
Due: none

Add unit tests to workload_cluster methods.
  controlplane/kubeadm/internal/etcd/fake/client.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
  controlplane/kubeadm/internal/workload_cluster_test.go
Due: none

[KCP] Add integration and unit tests
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types_test.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/suite_test.go
  controlplane/kubeadm/controllers/upgrade_test.go
Due: none

:running: Remove misleading log line in CABPK:
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Let MHC to remediate any machine owned by a controller
  controllers/machinehealthcheck_controller_test.go
  controllers/machinehealthcheck_targets.go
  controllers/machinehealthcheck_targets_test.go
Due: none

Merge removeMemberForNode into RemoveEtcdMemberForMachine
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
Due: none

Reword some test descriptions
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none

Add remote cluster cache manager
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_test.go
Due: none

Add forLeader to etcdClientGenerator
  controlplane/kubeadm/internal/etcd_client_generator.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none

RemoveEtcdMemberForMachine uses leader node
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none

Make clusterctl cert-manager timeout configurable
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/client/cluster/cert_manager_test.go
  docs/book/src/clusterctl/configuration.md
Due: none

🐛 Add kubernetes server validation on clusterctl
  cmd/clusterctl/client/cluster/client.go
  cmd/clusterctl/client/cluster/inventory.go
  cmd/clusterctl/client/cluster/proxy.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: none

Make deletion check independent of finalizers
  controllers/machinehealthcheck_controller_test.go
Due: none

:running: Work around DNS interception
  controllers/remote/cluster_test.go
Due: none

Update OWNERS
  OWNERS
  OWNERS_ALIASES
Due: none

ForwardEtcdLeadership uses leader node
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_etcd.go
  controlplane/kubeadm/internal/workload_cluster_etcd_test.go
Due: none
