Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

Add ClusterTopologyMachineDeploymentLabelName to MD templates
  controllers/topology/desired_state.go
  controllers/topology/desired_state_test.go
Due: none

Propagate topology labels to MachineSets and Machines
  controllers/topology/desired_state.go
  controllers/topology/desired_state_test.go
Due: none

Fix mistaken comment
  controllers/topology/reconcile_state.go
Due: none

fix flaky TestPatchHelper tests
  util/patch/patch_test.go
Due: none

allow cluster class compatible changes
  api/v1alpha4/clusterclass_webhook.go
  api/v1alpha4/clusterclass_webhook_test.go
  controllers/topology/reconcile_state.go
  docs/proposals/202105256-cluster-class-and-managed-topologies.md
Due: none

Rename 'DockerMachineTemplate' to 'DockerMachinePoolTemplate'
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
Due: pull-cluster-api-provider-docker

Fix group issue and add age column to DockerMachinePools
  test/infrastructure/docker/config/crd/bases/exp.infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/exp/api/v1alpha3/groupversion_info.go
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha4/groupversion_info.go
Due: pull-cluster-api-provider-docker

Regenerate CRD for DockerMachinePool
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-docker

Rename 'DockerMachinePoolTemplate' to 'DockerMachinePoolMachineTemplate'
  test/infrastructure/docker/exp/api/v1alpha3/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
Due: pull-cluster-api-provider-docker

Regenerate for 'DockerMachinePoolMachineTemplate'
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-docker

Regenerate DockerMachinePool for v1alpha3 with new template type
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/exp/api/v1alpha3/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-docker

Fix comment
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
Due: pull-cluster-api-provider-docker

controllers/topology: cleanup error handling and templateNamer
  controllers/topology/blueprint.go
  controllers/topology/current_state.go
  controllers/topology/desired_state.go
  controllers/topology/internal/log/doc.go
  controllers/topology/internal/log/log.go
  controllers/topology/reconcile_state.go
  controllers/topology/util.go
  controllers/topology/util_test.go
Due: none

Fix flaky TestGetWorkloadCluster test
  controlplane/kubeadm/internal/cluster_test.go
Due: none

upgrade support for managed topologies
  api/v1alpha4/cluster_webhook.go
  api/v1alpha4/cluster_webhook_test.go
  controllers/topology/current_state.go
  controllers/topology/desired_state.go
  controllers/topology/desired_state_test.go
  controllers/topology/internal/contract/controlplane.go
  controllers/topology/internal/contract/controlplane_test.go
  controllers/topology/internal/contract/types.go
  controllers/topology/internal/scope/scope.go
  controllers/topology/internal/scope/state.go
  controllers/topology/internal/scope/upgradetracker.go
  internal/testtypes/builders.go
  util/version/version.go
Due: none

Implement template deletion for topology-owned MD and MS
  api/v1alpha4/machinedeployment_types.go
  api/v1alpha4/machineset_types.go
  config/rbac/role.yaml
  controllers/external/util.go
  controllers/machinedeployment_sync.go
  controllers/topology/cluster_controller.go
  controllers/topology/desired_state.go
  controllers/topology/desired_state_test.go
  controllers/topology/internal/log/log.go
  controllers/topology/machinedeployment_controller.go
  controllers/topology/machinedeployment_controller_test.go
  controllers/topology/machineset_controller.go
  controllers/topology/machineset_controller_test.go
  controllers/topology/reconcile_state.go
  controllers/topology/util.go
  controllers/topology/util_test.go
  internal/testtypes/builders.go
  main.go
  util/labels/helpers.go
  util/predicates/generic_predicates.go
  util/util.go
Due: none

Use .Index func when building field.Paths
  api/v1alpha4/clusterclass_webhook.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfig_webhook.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Fix panic in clusterctl describe from nil reference
  controllers/external/util.go
Due: none

Small cleanups to ClusterClass tests
  controllers/topology/blueprint_test.go
  controllers/topology/current_state.go
  controllers/topology/current_state_test.go
Due: none

Added comments to `WatchFilterValue` field.
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  controllers/cluster_controller.go
  controllers/machine_controller.go
  controllers/machinedeployment_controller.go
  controllers/machinehealthcheck_controller.go
  controllers/machineset_controller.go
  controllers/remote/cluster_cache_reconciler.go
  controllers/topology/controller.go
  controlplane/kubeadm/controllers/controller.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourcesetbinding_controller.go
  exp/controllers/machinepool_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

isScaling error handling in control plane contract
  controllers/topology/internal/contract/controlplane.go
Due: none

add missing constants of v1alpha3 package from release-0.3
  api/v1alpha3/common_types.go
  api/v1alpha3/condition_consts.go
Due: none

Add watches for infras and control plane in topology controller
  controllers/topology/cluster_controller.go
Due: none

Add dynamic completion support for context in kubeconfig and namespace
  cmd/clusterctl/client/cluster/client.go
  cmd/clusterctl/client/cluster/proxy.go
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/root.go
  cmd/clusterctl/cmd/util.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: none

Deprecate unused MachineDeployment constants
  controllers/mdutil/util.go
Due: none

CAPD: improve image build caching
  test/infrastructure/docker/Dockerfile
Due: pull-cluster-api-provider-docker

Add backported rolloutStrategy to KCP v1alpha3
  controlplane/kubeadm/api/v1alpha3/conversion.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.conversion.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  test/e2e/clusterctl_upgrade.go
Due: none

:seedling: Update Go to 1.16.8
  Makefile
  Tiltfile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Add composable matchers to internal/testtypes
  controllers/topology/blueprint_test.go
  controllers/topology/current_state_test.go
  controllers/topology/desired_state_test.go
  controllers/topology/reconcile_state_test.go
  controllers/topology/util_test.go
  internal/testtypes/matchers.go
Due: none

⚠️ Fix group issue and add age column to DockerMachinePools (#5206)
  test/infrastructure/docker/config/crd/bases/exp.infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/exp/api/v1alpha3/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha3/groupversion_info.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.go
  test/infrastructure/docker/exp/api/v1alpha4/groupversion_info.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-docker

Fix a bug that completion suggestions for --namespace are not updated
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/root.go
Due: none

Add Conditions to MachineSet. * MachinesCreatedCondition * MachinesReadyCondition * ReadyCondition * ResizedCondition
  api/v1alpha3/conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/condition_consts.go
  api/v1alpha4/machineset_types.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
Due: none

Add a MemoryReader for the operator to place config from a secret
  cmd/clusterctl/client/config/reader_memory.go
  cmd/clusterctl/client/config/reader_memory_test.go
Due: none

Update calico version in quickstart guide
  docs/book/src/user/quick-start.md
Due: none

Add comments to `WatchFilterValue` field of reconcilers
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  controllers/cluster_controller.go
  controllers/machine_controller.go
  controllers/machinedeployment_controller.go
  controllers/machinehealthcheck_controller.go
  controllers/machineset_controller.go
  controllers/remote/cluster_cache_reconciler.go
  controllers/topology/controller.go
  controlplane/kubeadm/controllers/controller.go
  exp/addons/controllers/clusterresourceset_controller.go
  exp/addons/controllers/clusterresourcesetbinding_controller.go
  exp/controllers/machinepool_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

clusterctl: Add completion support for cluster resource
  cmd/clusterctl/cmd/completion.go
  cmd/clusterctl/cmd/describe_cluster.go
  cmd/clusterctl/cmd/get_kubeconfig.go
  cmd/clusterctl/cmd/root.go
Due: none

Update module dependencies
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/go.mod
  test/go.sum
Due: none

Add v1beta1 APIs to controlplane types
  controlplane/kubeadm/api/v1alpha3/conversion.go
  controlplane/kubeadm/api/v1alpha3/webhook_test.go
  controlplane/kubeadm/api/v1alpha4/conversion.go
  controlplane/kubeadm/api/v1alpha4/conversion_test.go
  controlplane/kubeadm/api/v1alpha4/doc.go
  controlplane/kubeadm/api/v1beta1/condition_consts.go
  controlplane/kubeadm/api/v1beta1/conversion.go
  controlplane/kubeadm/api/v1beta1/doc.go
  controlplane/kubeadm/api/v1beta1/groupversion_info.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_types.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadm_control_plane_webhook_test.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_types.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_webhook.go
  controlplane/kubeadm/api/v1beta1/kubeadmcontrolplanetemplate_webhook_test.go
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
