Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

Move operator API to v1alpha1
  exp/operator/PROJECT
  exp/operator/api/v1alpha1/bootstrapprovider_types.go
  exp/operator/api/v1alpha1/conditions_consts.go
  exp/operator/api/v1alpha1/controlplaneprovider_types.go
  exp/operator/api/v1alpha1/coreprovider_types.go
  exp/operator/api/v1alpha1/groupversion_info.go
  exp/operator/api/v1alpha1/infrastructureprovider_types.go
  exp/operator/api/v1alpha1/provider_types.go
  exp/operator/api/v1alpha1/zz_generated.deepcopy.go
  exp/operator/config/crd/bases/operator.cluster.x-k8s.io_bootstrapproviders.yaml
  exp/operator/config/crd/bases/operator.cluster.x-k8s.io_controlplaneproviders.yaml
  exp/operator/config/crd/bases/operator.cluster.x-k8s.io_coreproviders.yaml
  exp/operator/config/crd/bases/operator.cluster.x-k8s.io_infrastructureproviders.yaml
  exp/operator/controllers/genericprovider/bootstrapprovider_wrapper.go
  exp/operator/controllers/genericprovider/controlplaneprovider_wrapper.go
  exp/operator/controllers/genericprovider/coreprovider_wrapper.go
  exp/operator/controllers/genericprovider/genericprovider_interfaces.go
  exp/operator/controllers/genericprovider/infrastructureprovider_wrapper.go
  exp/operator/controllers/genericprovider_controller.go
  exp/operator/controllers/genericprovider_controller_test.go
  exp/operator/controllers/preflight_checks.go
  exp/operator/controllers/preflight_checks_test.go
  exp/operator/controllers/suite_test.go
  exp/operator/main.go
  exp/operator/util/util.go
  test/helpers/envtest.go
Due: none

Fix the observedGeneration update
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
Due: none

add capz identity instructions to quick start
  docs/book/src/user/quick-start.md
Due: none

clusterctl: use newest release series of same contract
  cmd/clusterctl/api/v1alpha3/metadata_type.go
  cmd/clusterctl/api/v1alpha3/metadata_type_test.go
  cmd/clusterctl/client/repository/repository_github_test.go
Due: none

update upstream k8s CI image store reference
  scripts/ci-e2e-lib.sh
  test/framework/kubernetesversions/data/debian_injection_script.envsubst.sh
Due: none

fix DefaultValidateTest ensuring old object gets validated too
  util/defaulting/defaulting.go
Due: none

Add back base64 encoded CAPZ quickstart variables for creds
  docs/book/src/user/quick-start.md
Due: none

kubetest: Allow kubetest provider to be overridable
  test/framework/kubetest/run.go
Due: none

test/framework: improves the way we inject the debian script
  test/framework/kubernetesversions/data/debian_injection_script.envsubst.sh.tpl
  test/framework/kubernetesversions/data/kustomization.yaml
  test/framework/kubernetesversions/template.go
Due: none

Bump golang to 1.16.6
  Makefile
  test/infrastructure/docker/Dockerfile.dev
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Use docker API instead of exec'ing docker cmds
  Tiltfile
  test/framework/docker_logcollector.go
  test/infrastructure/container/docker.go
  test/infrastructure/container/interface.go
  test/infrastructure/docker/Dockerfile
  test/infrastructure/docker/Dockerfile.dev
  test/infrastructure/docker/docker/kind_manager.go
  test/infrastructure/docker/docker/loadbalancer.go
  test/infrastructure/docker/docker/machine.go
  test/infrastructure/docker/docker/types/node.go
  test/infrastructure/docker/docker/util.go
Due: pull-cluster-api-provider-docker

Upgrade quickstart and e2e tests to Kubernetes v1.21.2
  docs/book/src/user/quick-start.md
  test/e2e/config/docker.yaml
  test/framework/bootstrap/kind_provider.go
  test/framework/machine_helpers.go
  test/infrastructure/container/docker.go
  test/infrastructure/docker/docker/machine.go
  test/infrastructure/docker/examples/machine-pool.yaml
  test/infrastructure/docker/examples/simple-cluster-ipv6.yaml
  test/infrastructure/docker/examples/simple-cluster-without-kcp.yaml
  test/infrastructure/docker/examples/simple-cluster.yaml
Due: pull-cluster-api-provider-docker

Implements Backup and Restore.
  cmd/clusterctl/client/client.go
  cmd/clusterctl/client/client_test.go
  cmd/clusterctl/client/cluster/mover.go
  cmd/clusterctl/client/cluster/mover_test.go
  cmd/clusterctl/client/cluster/objectgraph.go
  cmd/clusterctl/client/cluster/objectgraph_test.go
  cmd/clusterctl/client/move.go
  cmd/clusterctl/client/move_test.go
  cmd/clusterctl/cmd/backup.go
  cmd/clusterctl/cmd/restore.go
Due: none

document jobs
  CONTRIBUTING.md
  docs/book/src/SUMMARY.md
  docs/book/src/reference/jobs.md
Due: none

:bug: Webhook registration should accept both v1 and v1beta1 admissions
  api/v1alpha4/cluster_webhook.go
  api/v1alpha4/machine_webhook.go
  api/v1alpha4/machinedeployment_webhook.go
  api/v1alpha4/machinehealthcheck_webhook.go
  api/v1alpha4/machineset_webhook.go
  bootstrap/kubeadm/api/v1alpha4/kubeadmconfig_webhook.go
  bootstrap/kubeadm/config/webhook/manifests.yaml
  config/webhook/manifests.yaml
  controlplane/kubeadm/api/v1alpha4/kubeadm_control_plane_webhook.go
  controlplane/kubeadm/config/webhook/manifests.yaml
  exp/addons/api/v1alpha4/clusterresourceset_webhook.go
  exp/api/v1alpha4/machinepool_webhook.go
  test/infrastructure/docker/api/v1alpha4/dockermachinetemplate_webhook.go
  test/infrastructure/docker/config/webhook/manifests.yaml
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Provide more prescriptive guidance on multi-tenancy
  api/v1alpha4/identity_types.go
  api/v1alpha4/identity_webhook.go
  docs/book/src/developer/architecture/controllers/multi-tenancy.md
Due: none

validate namespace of MHC remediation template
  api/v1alpha4/machinehealthcheck_webhook.go
  api/v1alpha4/machinehealthcheck_webhook_test.go
Due: none

update CoreDNS ClusterRole (Kubernetes>=1.22,CoreDNS >= 1.8.1), fix image pull
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  test/infrastructure/container/docker.go
  test/infrastructure/container/interface.go
Due: none

Adds Conditions to MachineDeployment. In particular, it adds `AvailableCondition` and `ReadyCondition`.
  api/v1alpha3/conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/condition_consts.go
  api/v1alpha4/machinedeployment_types.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machinedeployment_sync.go
  controllers/machinedeployment_sync_test.go
Due: none

fix KCP ClusterRole aggregation
  controlplane/kubeadm/config/default/kustomization.yaml
Due: none

regen with Go 1.17 rc1
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha3/zz_generated.deepcopy.go
  api/v1alpha4/zz_generated.deepcopy.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.conversion.go
  bootstrap/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  bootstrap/kubeadm/api/v1alpha4/zz_generated.deepcopy.go
  bootstrap/kubeadm/types/v1beta1/zz_generated.conversion.go
  bootstrap/kubeadm/types/v1beta1/zz_generated.deepcopy.go
  bootstrap/kubeadm/types/v1beta2/zz_generated.conversion.go
  bootstrap/kubeadm/types/v1beta2/zz_generated.deepcopy.go
  bootstrap/kubeadm/types/v1beta3/zz_generated.conversion.go
  bootstrap/kubeadm/types/v1beta3/zz_generated.deepcopy.go
  cmd/clusterctl/api/v1alpha3/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/providers/bootstrap/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/providers/controlplane/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/providers/external/zz_generated.deepcopy.go
  cmd/clusterctl/internal/test/providers/infrastructure/zz_generated.deepcopy.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.conversion.go
  controlplane/kubeadm/api/v1alpha3/zz_generated.deepcopy.go
  controlplane/kubeadm/api/v1alpha4/zz_generated.deepcopy.go
  exp/addons/api/v1alpha3/zz_generated.conversion.go
  exp/addons/api/v1alpha3/zz_generated.deepcopy.go
  exp/addons/api/v1alpha4/zz_generated.deepcopy.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha3/zz_generated.deepcopy.go
  exp/api/v1alpha4/zz_generated.deepcopy.go
  hack/boilerplate/boilerplate.py
  test/infrastructure/docker/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/api/v1alpha4/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.conversion.go
  test/infrastructure/docker/exp/api/v1alpha3/zz_generated.deepcopy.go
  test/infrastructure/docker/exp/api/v1alpha4/zz_generated.deepcopy.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Add Indexes to NewClusterCacheTracker with providerID index for nodes.
  controllers/machine_controller_noderef.go
  controllers/machine_controller_noderef_test.go
  controllers/noderefutil/indexer.go
  controllers/noderefutil/providerid.go
  controllers/remote/cluster_cache.go
  controllers/remote/cluster_cache_healthcheck_test.go
  controllers/remote/cluster_cache_tracker_test.go
  controllers/suite_test.go
  controlplane/kubeadm/internal/cluster_test.go
  controlplane/kubeadm/main.go
  main.go
Due: none

Fixes incorrect diagram links for CC proposal
  docs/proposals/202105256-cluster-class-and-managed-topologies.md
Due: none

update CoreDNS ClusterRole for Kubernetes >= 1.22 and CoreDNS >= 1.8.1
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/controller_test.go
  controlplane/kubeadm/internal/workload_cluster.go
  controlplane/kubeadm/internal/workload_cluster_coredns.go
  controlplane/kubeadm/internal/workload_cluster_coredns_test.go
  util/version/version.go
  util/version/version_test.go
Due: none

Use dl.k8s.io instead of hardcoded GCS URIs
  docs/book/src/developer/providers/implementers-guide/overview.md
  hack/ensure-kubectl.sh
  scripts/ci-e2e-lib.sh
  test/framework/kubernetesversions/data/debian_injection_script.envsubst.sh.tpl
  test/framework/kubernetesversions/versions.go
  test/infrastructure/docker/Dockerfile
Due: pull-cluster-api-provider-docker

Switch to non-alpine kindest/haproxy version
  test/infrastructure/docker/third_party/forked/loadbalancer/const.go
Due: pull-cluster-api-provider-docker

Add watch-filter support to ClusterCacheReconciler
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/main.go
  controllers/remote/cluster_cache_reconciler.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/main.go
  main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Add ClusterClass types
  PROJECT
  api/v1alpha3/conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/cluster_types.go
  api/v1alpha4/cluster_webhook.go
  api/v1alpha4/cluster_webhook_test.go
  api/v1alpha4/clusterclass_types.go
  api/v1alpha4/clusterclass_webhook.go
  api/v1alpha4/clusterclass_webhook_test.go
  api/v1alpha4/zz_generated.deepcopy.go
  config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_clusterclasses.yaml
  config/crd/patches/webhook_in_clusterclasses.yaml
  config/manager/manager.yaml
  config/webhook/manifests.yaml
  docs/proposals/202105256-cluster-class-and-managed-topologies.md
  feature/feature.go
  main.go
Due: none

Update golang to 1.16
  exp/operator/Makefile
Due: none

Switch to go test in operator suite test
  exp/operator/controllers/suite_test.go
Due: none

Make CI scripts work with operator
  scripts/ci-build.sh
  scripts/ci-make.sh
  scripts/ci-test.sh
  scripts/ci-verify.sh
Due: none

Remove zap and use klogr in operator
  exp/operator/main.go
Due: none

Add envtest binaries to operator makefile
  exp/operator/Makefile
Due: none

Setup controllers for operator objects
  exp/operator/controllers/boostrapprovider_controller.go
  exp/operator/controllers/controlplaneprovider_controller.go
  exp/operator/controllers/infastructureprovider_controller.go
  exp/operator/main.go
Due: none

Update certmanager to v1
  exp/operator/config/certmanager/certificate.yaml
  exp/operator/config/certmanager/kustomization.yaml
  exp/operator/config/certmanager/kustomizeconfig.yaml
Due: none

Make operator main.go and flags similar to CAPI
  exp/operator/config/default/manager_auth_proxy_patch.yaml
  exp/operator/main.go
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
