Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

Remove zap and use klogr in operator
  exp/operator/main.go
Due: none

Add reviewers for CAPI operator
  OWNERS
  OWNERS_ALIASES
  exp/operator/OWNERS
Due: none

Switch to go test in operator suite test
  exp/operator/controllers/suite_test.go
Due: none

Delete samples from operator repo
  exp/operator/config/samples/operator_v1alpha4_bootstrapprovider.yaml
  exp/operator/config/samples/operator_v1alpha4_controlplaneprovider.yaml
  exp/operator/config/samples/operator_v1alpha4_coreprovider.yaml
  exp/operator/config/samples/operator_v1alpha4_infrastructureprovider.yaml
Due: none

Make CI scripts work with operator
  scripts/ci-build.sh
  scripts/ci-make.sh
  scripts/ci-verify.sh
Due: none

Update golang to 1.16
  exp/operator/Makefile
Due: none

Use variables in Makefile consistently
  Makefile
Due: none

🌱 Standardize machine filter functions and improve testing
  controllers/cluster_controller.go
  controllers/machine_controller.go
  controllers/machine_controller_test.go
  controllers/machine_helpers.go
  controllers/machine_helpers_test.go
  controlplane/kubeadm/controllers/controller.go
  controlplane/kubeadm/controllers/fakes_test.go
  controlplane/kubeadm/controllers/scale.go
  controlplane/kubeadm/controllers/scale_test.go
  controlplane/kubeadm/controllers/status.go
  controlplane/kubeadm/controllers/status_test.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/cluster_test.go
  util/collections/helpers.go
  util/collections/machine_collection.go
  util/collections/machine_filters.go
  util/collections/machine_filters_test.go
  util/conversion/conversion.go
  util/deprecated.go
  util/util.go
Due: none

Use distroless for CAPD
  test/infrastructure/docker/Dockerfile
Due: pull-cluster-api-provider-docker

fix version support doc
  docs/book/src/reference/versions.md
Due: none

Fix figure 1 not found
  docs/proposals/20190610-machine-states-preboot-bootstrapping.md
Due: none

Add leases to leader election role in operator
  exp/operator/config/rbac/leader_election_role.yaml
Due: none

Quickstart doc update
  docs/book/src/user/quick-start.md
Due: none

🌱 Normalizing flags from _ to -
  bootstrap/kubeadm/main.go
  controlplane/kubeadm/main.go
  main.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

E2E framework: support 'file' scheme in component source
  test/framework/clusterctl/repository.go
Due: none

allow e2e tests to run with bridge network
  test/e2e/data/infrastructure-docker/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/e2e_suite_test.go
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/docker/kind_manager.go
  test/infrastructure/docker/docker/loadbalancer.go
  test/infrastructure/docker/docker/machine.go
  test/infrastructure/docker/docker/util.go
  test/infrastructure/docker/exp/docker/nodepool.go
Due: pull-cluster-api-provider-docker

Adds condition when external ref is incorrect
  api/v1alpha4/condition_consts.go
  exp/controllers/machinepool_controller_phases.go
  exp/controllers/machinepool_controller_test.go
Due: none

scripts/ci-verify.sh: set executable bit
  scripts/ci-verify.sh
Due: none

clusterctl v1alpha3 should block on v1alpha4 clusters
  cmd/clusterctl/client/cluster/inventory.go
  cmd/clusterctl/client/cluster/inventory_test.go
  cmd/clusterctl/client/config.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/delete.go
  cmd/clusterctl/client/delete_test.go
  cmd/clusterctl/client/describe.go
  cmd/clusterctl/client/get_kubeconfig.go
  cmd/clusterctl/client/get_kubeconfig_test.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/client/move.go
  cmd/clusterctl/client/move_test.go
  cmd/clusterctl/client/repository/metadata_client_test.go
  cmd/clusterctl/client/upgrade.go
  cmd/clusterctl/client/upgrade_test.go
  cmd/clusterctl/internal/test/contracts.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: none

E2E framework: support relative paths in URL component source
  test/framework/clusterctl/e2e_config.go
Due: none

update MHC docs to comply with current impl.
  docs/book/src/tasks/healthcheck.md
Due: none

Remove most of bindata targets in favor of Go 1.16 embed
  Makefile
  bootstrap/kubeadm/internal/cloudinit/cloudinit.go
  bootstrap/kubeadm/internal/cloudinit/zz_generated.bindata.go
  cmd/clusterctl/client/cluster/assets/cert-manager-test-resources.yaml
  cmd/clusterctl/client/cluster/assets/cert-manager.yaml
  cmd/clusterctl/client/cluster/cert_manager.go
  cmd/clusterctl/config/zz_generated.bindata.go
  hack/boilerplate/boilerplate.py
  hack/tools/go.mod
  hack/tools/go.sum
  test/framework/kubernetesversions/template.go
  test/infrastructure/docker/config/crd/bases/exp.infrastructure.cluster.x-k8s.io_dockermachinepools.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockerclusters.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachines.yaml
  test/infrastructure/docker/config/crd/bases/infrastructure.cluster.x-k8s.io_dockermachinetemplates.yaml
  test/infrastructure/docker/hack/tools/go.mod
  test/infrastructure/docker/hack/tools/go.sum
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Update CR v0.9.0-alpha.0 and golint 1.32 dependencies
  .golangci.yml
  api/v1alpha3/machine_types.go
  bootstrap/kubeadm/api/v1alpha3/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  bootstrap/kubeadm/types/v1beta1/bootstraptokenstring.go
  bootstrap/kubeadm/types/v1beta1/utils.go
  bootstrap/kubeadm/types/v1beta2/bootstraptokenstring.go
  bootstrap/kubeadm/types/v1beta2/types.go
  cmd/clusterctl/client/cluster/template.go
  cmd/clusterctl/client/cluster/template_test.go
  cmd/clusterctl/client/repository/repository_github.go
  cmd/clusterctl/client/repository/repository_github_test.go
  cmd/clusterctl/cmd/version_checker.go
  cmd/clusterctl/internal/test/fake_github.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  config/crd/bases/exp.cluster.x-k8s.io_machinepools.yaml
  controllers/mdutil/util_test.go
  controlplane/kubeadm/api/v1alpha3/kubeadm_control_plane_types.go
  controlplane/kubeadm/internal/cluster.go
  controlplane/kubeadm/internal/etcd_client_generator_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  test/infrastructure/docker/go.mod
  test/infrastructure/docker/go.sum
  test/infrastructure/docker/hack/tools/go.sum
  util/conditions/patch.go
  util/deprecated.go
  util/util.go
Due: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

Add information on using kustomize with CAPI
  docs/book/src/tasks/using-kustomize.md
Due: none

docs: Add install with homebrew on macOS and linux
  docs/book/src/user/quick-start.md
Due: none

⚠️ Update kind to v0.9.0 for 0.3 release (#4176)
  docs/book/src/clusterctl/developers.md
  docs/book/src/developer/guide.md
  docs/book/src/developer/tilt.md
  docs/book/src/user/quick-start.md
  hack/ensure-kind.sh
  test/e2e/data/infrastructure-docker/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-docker/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/e2e_suite_test.go
  test/framework/bootstrap/kind_provider.go
  test/infrastructure/docker/controllers/dockercluster_controller.go
  test/infrastructure/docker/controllers/dockermachine_controller.go
  test/infrastructure/docker/docker/kind_manager.go
  test/infrastructure/docker/docker/loadbalancer.go
  test/infrastructure/docker/docker/machine.go
  test/infrastructure/docker/docker/util.go
  test/infrastructure/docker/exp/docker/nodepool.go
Due: pull-cluster-api-provider-docker

Make conversion-gen output location explicit
  Makefile
  test/infrastructure/docker/Makefile
Due: pull-cluster-api-provider-docker

Setup operator Makefile
  exp/operator/.gitignore
  exp/operator/Dockerfile
  exp/operator/go.mod
  exp/operator/go.sum
Due: none

clusterctl v1alpha4 should block on v1alpha3 clusters
  cmd/clusterctl/client/cluster/inventory.go
  cmd/clusterctl/client/cluster/inventory_test.go
  cmd/clusterctl/client/config.go
  cmd/clusterctl/client/config_test.go
  cmd/clusterctl/client/delete.go
  cmd/clusterctl/client/delete_test.go
  cmd/clusterctl/client/describe.go
  cmd/clusterctl/client/get_kubeconfig.go
  cmd/clusterctl/client/get_kubeconfig_test.go
  cmd/clusterctl/client/init.go
  cmd/clusterctl/client/move.go
  cmd/clusterctl/client/move_test.go
  cmd/clusterctl/client/repository/metadata_client_test.go
  cmd/clusterctl/client/upgrade.go
  cmd/clusterctl/client/upgrade_test.go
  cmd/clusterctl/internal/test/fake_proxy.go
Due: none

Update certmanager to v1
  exp/operator/config/certmanager/kustomizeconfig.yaml
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
