Repository kubernetes-sigs/cluster-api: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-bootstrap-provider-kubeadm, pull-cluster-api-provider-docker

pull-cluster-api-bootstrap-provider-kubeadm:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-cabpk.sh

pull-cluster-api-provider-docker:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20191009-4f1de38-master
      command:
      - runner.sh
      - ./scripts/ci-capd.sh

[capd] Remove dockerlib volume mount from CAPD manager
  test/infrastructure/docker/config/manager/manager.yaml
Due: pull-cluster-api-provider-docker

Remove duplicate add to scheme for v1alpha3
  main.go
Due: none

Add OwnerReference unit test for machineset
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
Due: none

Update Cluster and Machine Status.Phase values consistent with k/k
  api/v1alpha3/cluster_phase_types.go
  api/v1alpha3/machine_phase_types.go
  test/integration/cluster/cluster_test.go
Due: none

Change the default image in manifests to target release-0.2
  config/default/manager_image_patch.yaml
Due: none

Fix OWNERS files after CABPK merge
  OWNERS_ALIASES
  bootstrap/kubeadm/CONTRIBUTING.md
  bootstrap/kubeadm/OWNERS_ALIASES
  bootstrap/kubeadm/RELEASE.md
  bootstrap/kubeadm/SECURITY_CONTACTS
Due: pull-cluster-api-bootstrap-provider-kubeadm

Rename module
  bootstrap/kubeadm/PROJECT
  bootstrap/kubeadm/api/v1alpha2/kubeadmbootstrapconfig_types.go
  bootstrap/kubeadm/api/v1alpha2/zz_generated.deepcopy.go
  bootstrap/kubeadm/cloudinit/cloudinit.go
  bootstrap/kubeadm/cloudinit/cloudinit_test.go
  bootstrap/kubeadm/cloudinit/controlplane_init.go
  bootstrap/kubeadm/cloudinit/controlplane_join.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_reconciler_test.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/controllers/suite_test.go
  bootstrap/kubeadm/go.mod
  bootstrap/kubeadm/hack/tools/go.mod
  bootstrap/kubeadm/internal/cluster/certificates.go
  bootstrap/kubeadm/internal/cluster/certificates_test.go
  bootstrap/kubeadm/kubeadm/v1beta1/doc.go
  bootstrap/kubeadm/kubeadm/v1beta2/doc.go
  bootstrap/kubeadm/main.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Update Bazel
  bootstrap/kubeadm/config-capi/BUILD.bazel
Due: pull-cluster-api-bootstrap-provider-kubeadm

Update module dependencies
  bootstrap/kubeadm/go.mod
  bootstrap/kubeadm/go.sum
  bootstrap/kubeadm/hack/tools/go.mod
  bootstrap/kubeadm/hack/tools/go.sum
  go.mod
  go.sum
Due: pull-cluster-api-bootstrap-provider-kubeadm

Update generated files
  config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  config/crd/kustomization.yaml
Due: none

Add unit tests for machineset controller
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
Due: none

📖 Add quick start for the Docker provider
  docs/book/src/tasks/installation.md
  docs/book/src/user/quick-start.md
Due: none

Changed APIEndpoint.Port from int to int29
  api/v1alpha3/cluster_types.go
  config/crd/bases/cluster.x-k8s.io_clusters.yaml
Due: none

Use context.Context as first parameter for external.Get
  controllers/cluster_controller.go
  controllers/cluster_controller_phases.go
  controllers/external/util.go
  controllers/machine_controller.go
  controllers/machine_controller_phases.go
Due: none

Use context as first parameter for external.CloneTemplate
  controllers/external/util.go
  controllers/machineset_controller.go
Due: none

Update module dependencies
  go.mod
  go.sum
Due: none

Update generated files
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  config/crd/bases/cluster.x-k8s.io_machines.yaml
  config/crd/bases/cluster.x-k8s.io_machinesets.yaml
Due: none

:warning: ClusterName required on Machine/MachineSet/MachineDeployment
  .gitignore
  .golangci.yml
  Makefile
  api/v1alpha3/machine_types.go
  api/v1alpha3/machinedeployment_types.go
  api/v1alpha3/machineset_types.go
  cmd/clusterctl/clusterdeployer/clusterdeployer_test.go
  controllers/cluster_controller_test.go
  controllers/machine_controller.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
  controllers/machine_controller_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machinedeployment_sync.go
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/testing.go
Due: none

:book: Start documenting changes for providers
  docs/book/src/providers/v1alpha2-to-v1alpha3.md
Due: none

Add prerequisites to release instructions
  docs/developer/releasing.md
Due: none

readme: fix typo s/NPT/NTP/
  bootstrap/kubeadm/README.md
Due: pull-cluster-api-bootstrap-provider-kubeadm

Adds an library API change to v2->v3 document
  docs/book/src/providers/v1alpha2-to-v1alpha3.md
Due: none

docs: move talos from infra to bootstrap provider
  docs/book/src/reference/providers.md
Due: none

Add phase to MachineDeploymentStatus in v1alpha3
  api/v1alpha3/machinedeployment_types.go
  config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  controllers/machinedeployment_sync.go
  controllers/machinedeployment_sync_test.go
Due: none

Remove klog calls from controllers
  controllers/cluster_controller.go
  controllers/cluster_controller_phases.go
  controllers/machine_controller.go
  controllers/machine_controller_noderef.go
  controllers/machine_controller_phases.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_rolling.go
  controllers/machinedeployment_sync.go
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
  controllers/machineset_status.go
  controllers/mdutil/util.go
  controllers/mdutil/util_test.go
Due: none

clusterctl create command namespace fixes
  cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go
  cmd/clusterctl/clusterdeployer/clusterdeployer.go
  cmd/clusterctl/phases/applycluster.go
  cmd/clusterctl/phases/applymachines.go
Due: none

Rename MachineClusterLabelName to ClusterLabelName
  api/v1alpha3/machine_types.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/internal/cluster/certificates.go
  cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go
  cmd/clusterctl/clusterdeployer/clusterdeployer_test.go
  cmd/clusterctl/phases/pivot_test.go
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/machine_controller.go
  controllers/machine_controller_phases_test.go
  controllers/machine_controller_test.go
  controllers/machine_helpers.go
  controllers/machine_helpers_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machineset_controller.go
  controllers/machineset_controller_test.go
  docs/book/src/providers/v1alpha2-to-v1alpha3.md
  util/util.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Use controller-runtime client everywhere
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
  bootstrap/kubeadm/controllers/kubeadmconfig_controller_test.go
  bootstrap/kubeadm/controllers/token.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Do not use embedded client.Client in KubeadmConfigReconciler
  bootstrap/kubeadm/controllers/kubeadmconfig_controller.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

Added ibmcloud to glossary.
  docs/book/src/reference/glossary.md
Due: none

Set cluster-name label on external objects
  api/v1alpha3/common_types.go
  api/v1alpha3/machine_types.go
  controllers/cluster_controller_phases.go
  controllers/machine_controller_phases.go
  controllers/machine_controller_phases_test.go
  controllers/mdutil/util.go
  docs/book/src/providers/v1alpha2-to-v1alpha3.md
Due: none

remove command single quote
  bootstrap/kubeadm/cloudinit/cloudinit_test.go
  bootstrap/kubeadm/cloudinit/commands.go
Due: pull-cluster-api-bootstrap-provider-kubeadm

:bug: Generate manager manifest including kubeadm subdir
  Makefile
  config/rbac/role.yaml
Due: none

Enable golangci-linters: staticcheck, unparam, unused, depguard, gocritic
  .golangci.yml
  cmd/clusterctl/clusterdeployer/clusterdeployer_test.go
  cmd/clusterctl/providercomponents/providercomponents_test.go
  cmd/clusterctl/validation/validate_cluster_api_objects_suite_test.go
  cmd/clusterctl/validation/validate_pods_test.go
  controllers/cluster_controller.go
  controllers/cluster_controller_phases.go
  controllers/machine_controller.go
  controllers/machine_controller_noderef.go
  controllers/machine_controller_phases.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_rolling.go
  controllers/machinedeployment_sync.go
  controllers/mdutil/util.go
  controllers/mdutil/util_test.go
  util/restmapper/cached.go
Due: none

Enable golangci-linters: errcheck
  .golangci.yml
  cmd/clusterctl/clusterdeployer/clusterdeployer.go
  cmd/clusterctl/cmd/create_cluster.go
  cmd/clusterctl/cmd/root.go
  cmd/clusterctl/main.go
  cmd/clusterctl/phases/createbootstrapcluster.go
  cmd/clusterctl/phases/pivot.go
  cmd/clusterctl/validation/validate_cluster_api_objects_suite_test.go
  cmd/clusterctl/validation/validate_cluster_api_objects_test.go
  controllers/cluster_controller_test.go
  controllers/machine_controller_noderef_test.go
  controllers/machine_controller_phases_test.go
  controllers/machine_controller_test.go
  controllers/machinedeployment_controller_test.go
  controllers/machineset_controller_test.go
  controllers/suite_util_test.go
  util/patch/patch_test.go
  util/util.go
  util/yaml/yaml_test.go
Due: none

Path conditions:
  pull-cluster-api-bootstrap-provider-kubeadm: any of: ^bootstrap\/kubeadm\/.*$
  pull-cluster-api-provider-docker: any of: ^test\/infrastructure\/docker\/.*$
